/* NEW MOBILE-FIRST CART ITEM */
.cart-mobile {
  display: flex;
  gap: 10px;
}

/* LEFT */
.cart-left {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-img {
  width: 100%;
  max-height: 140px;
  object-fit: contain;
}

/* RIGHT */
.cart-right {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 4px;
  margin-right: 25px;
  /* cut large text */
  overflow-wrap: anywhere;
}

.cart-spec {
  font-size: 0.75rem;
  color: #666;
}

.cart-spec-discount {
  font-size: 0.75rem;
  color: #666;
  text-align: center;border: 4.5px solid red; width: 25%; color: brown; font-weight: bolder;
}


.cart-price {
  font-size: 0.85rem;
  font-weight: bold;
  color: #dc3545;
}

/* QTY */
.cart-qty {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}
.cart-qty input {
  width: 60px;
  padding: 4px;
  font-size: 0.85rem;
}

.empty-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; 
}

.loginReq {
    width: 90vw;
    background-color: #ddd;
    margin-bottom: 5vw;
    position: relative;
}

.loginReqImg {
    padding-top: 2vw;
    width: 60vw;
    float: left;
}

.loginReqImg img {
    width: 80%;
    float: left;
}


.detailsReq {
    float: left;
    margin-top: 4vw;
    width: 26vw;
    position: relative;
    right: 5vw;

}

.detailsReq p a {

    text-decoration: none;
    color: #2953a9;
}

.detailsReq button {
    background-color: #4079eb;
    padding: .5vw;
    margin-top: .5vw;
    position: relative;
    left: -.5vw;
    width: 180px;
}

.loginRe {
    width: 90vw;
}
/* Default styles for larger screens */
.loginReq {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.loginReqImg {
  margin-right: 20px;
  margin-bottom: 50px;

}

.detailsReq {
  text-align: center;
}


.toast-container {
  position: fixed;
  top: 6.5%;
  right: .3%;
  z-index: 9999;
  color: white;
  background-color: rgb(83, 147, 37);
  opacity: 1;
  padding: 15px;
}

.toast-err {
  position: fixed;
  top: 6.5%;
  right: .3%;
  z-index: 9999;
  color: white;
  background-color: rgb(202, 23, 11);
  opacity: 1;
  padding: 15px;
}

/* DESKTOP */
@media (max-width: 770px) {
  .empty-item {
    flex: 1 1 100%;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  * {
    box-sizing: border-box;
    font-size: 10px;
  }

  .cart-price {
  font-size: 0.65rem;
  font-weight: bold;
  color: #dc3545;
}
.cart-spec {
  font-size: 0.65rem;
  color: #666;
}
.cart-spec-discount {
  font-size: 0.75rem;
  color: #666;
  text-align: center;border: 4.5px solid red; width: 40%; color: brown; font-weight: bolder;
}
  .cart-mobile {
    align-items: center;
  }

  /* Empty cart page */
  .loginReq {
    flex-direction: column;
    text-align: center;
  }

  .loginReqImg img {
    max-width: 220px;
  }

  .detailsReq {
    width: 100%;
    max-width: none;
}

  .btnLog {
    width: 100%;
  }
}

/* ## Media Queries for Page Details Component */
@media (max-width: 400px) {
  .cart-title {
    font-size: 12px;
    margin-right: 5px;
  }
  .cart-spec-discount {
  font-size: 0.75rem;
  color: #666;
  text-align: center;border: 4.5px solid red; width: 70%; color: brown; font-weight: bolder;
}
}