<div *ngIf="loading" style="margin: 30vh 50vw" class="spinner-container">
  <mat-spinner></mat-spinner>
  <div style="width: 200px; margin-top: 20px;" class="spinner-message">Loading, please wait...</div>
</div>
<div *ngIf="!loading && !showNotFound && subCategories.length > 0" class="main-container">
  <div class="sidebar">
    <div class="subCategory">
      <h3>{{ categoryTitle }}</h3>
      <ul>
        <li *ngFor="let subCategory of subCategories">
          <i class="fa-solid fa-angle-left"></i>
          <a class="sub-links" [class.active_link]="isActive(subCategory)"
            [routerLink]="['/categories', categoryTitle, subCategory.name]"
            [queryParams]="{ page: 1, inStock: true, notAvailable: true }" queryParamsHandling="merge">
            {{ subCategory.name | capitalize }}
          </a>


        </li>
      </ul>
    </div>
    <div *ngIf="subCategoryName" class="filters">
      <div class="availability">
        <h3 style="margin: 5px 0;">Availability</h3>
        <label>
          <input type="checkbox" [(ngModel)]="filters.inStock" (change)="onFilterChange()"> In Stock
          <span *ngIf="inStockCount !== null">({{inStockCount}})</span>
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="filters.notAvailable" (change)="onFilterChange()"> Not Available
          <span *ngIf="outOfStockCount !== null && outOfStockCount !== undefined">
            ({{ outOfStockCount }})
          </span>
        </label>
      </div>
      <div class="price-range mb-3 mt-5">
        <span class="range" style="color: red; font-weight: bold; width: 100px; font-size: 12px;">Price Range: </span>
        <div style="display: flex; align-items: center;">
          <input type="number" class="form-control" [(ngModel)]="filters.minPrice" min="0" max="25000" step="10"
            placeholder="Min">
          <input type="number" class="form-control" [(ngModel)]="filters.maxPrice" min="0" max="25000" step="10"
            placeholder="Max">
          <input class="btn btn-warning text-light" style="border-radius: 10px; padding: 3px 8px;" type="submit"
            (click)="onPriceRangeChange()" value="Go">
        </div>
        <app-custom-range-slider style="width: 400px;" [min]="0" [max]="25000" [step]="10"
          [(minValue)]="filters.minPrice" [(maxValue)]="filters.maxPrice">
        </app-custom-range-slider>
        <p>Range: $0 - $25000</p>
      </div>
      <div class="color-filter">
        <h3 style="margin: 0 5px;">Color</h3>
        <div class="color-options">
          <label *ngFor="let color of colorOptions" class="color-swatch">
            <input type="checkbox" [checked]="filters.colors.includes(color)" (change)="onColorChange(color, $event)">
            <div class="color-indicator" [ngStyle]="{'background': color}">
            </div>
          </label>
        </div>
      </div>
      <div class="size-filter">
        <h3 style="margin: 5px 0 5px;">Size</h3>
        <label><input type="checkbox" [checked]="filters.sizes.includes('small')"
            (change)="onSizeChange('small', $event)"> S </label>
        <label><input type="checkbox" [checked]="filters.sizes.includes('medium')"
            (change)="onSizeChange('medium', $event)"> M </label>
        <label><input type="checkbox" [checked]="filters.sizes.includes('large')"
            (change)="onSizeChange('large', $event)"> L </label>
        <label><input type="checkbox" [checked]="filters.sizes.includes('extra_large')"
            (change)="onSizeChange('extra_large', $event)"> XL </label>
      </div>
    </div>
  </div>

  <div style="height: 600px; width: 85%;" class="content-wrapper" *ngIf="subCategories.length > 0">
    <div *ngIf="categoryTitle && !subCategoryName" class="title-wrapper">
      <img [src]="currentCategoryImage" alt="Category Image" />
    </div>
    <div *ngIf="subCategoryName" style="display: flex; justify-content: space-between; align-items: flex-end;">
      <button class="filter-options" (click)="openFilterModal(subCategoryName)">Filter</button>
    </div>
    <app-sort-options *ngIf="subCategoryName" class="sort-options" [currentSortOption]="currentSortOption"
      [currentElementSizeOption]="currentElementSizeOption" [currentEmailSeller]="currentEmailSeller"
      [currentCategory]="currentCategoryId" (elementChange)="onSizeElementChange($event)"
      (sortChange)="onSortChange($event)" (emailChange)="onEmailChange($event)"
      (categoryChange)="onCategoryChange($event)">
    </app-sort-options>
    <div *ngIf="isloading" style="margin: 30vh 50vw" class="spinner-container">
      <mat-spinner></mat-spinner>
      <div style="width: 200px; margin-top: 20px;" class="spinner-message">Loading</div>
    </div>
    <main *ngIf="!isloading" class="product-list"
      [ngStyle]="{'padding': subCategoryName && products.length > 0 ? '5px 5px 50px 5px' : '0px'}">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
      <div style="padding: 50px;" *ngIf="subCategoryName && products.length == 0">No Any Products Found</div>
    </main>
    <!-- Pagination Component -->
    <app-pagination *ngIf="subCategoryName && products.length > 0 && totalPages.length > 1" [currentPage]="currentPage"
      [totalPages]="totalPages" (pageChange)="onPageChange($event)">
    </app-pagination>

    <div *ngIf="categoryTitle && !subCategoryName" class="shop-by-category">
      <h2 style="margin-left: 8.5vw; margin-top: 20px;">Shop by category</h2>
      <div class="slider-container">
        <button class="nav-button left" (click)="scrollLeft(slider)">&#10094;</button>
        <div style="background-color: rgb(225, 230, 229); padding: 10px; margin: 5px;" class="slider-wrapper" #slider>
          <div style="margin: 5px;" class="slider">
            <div class="category-item" *ngFor="let subCategory of subCategories">
              <img (click)="redirectToSubCategory(categoryTitle, subCategory.name)" style="cursor: pointer"
                [src]="subCategory.img" [alt]="subCategory.name">
              <a (click)="redirectToSubCategory(categoryTitle, subCategory.name)">{{ subCategory.name }}</a>
            </div>
          </div>
        </div>
        <button class="nav-button right" (click)="scrollRight(slider)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<div class="cont-notfound" [ngClass]="{'show-container': showNotFound}">
  <div class="text-center">
    <h1 class="not-found-title">Category
      <span *ngIf="!subCategoryName" class="text-danger">{{categoryTitle}}
      </span>
      <span *ngIf="subCategoryName" class="text-danger">{{categoryTitle}}/{{subCategoryName}}
      </span> Not
      Found
    </h1>
  </div>
</div>

<div class="cont-empty" *ngIf="!showNotFound && subCategories.length == 0">
  <div class="text-center">
    <h1 class="not-found-title">Category
      <span *ngIf="!subCategoryName" class="text-danger">{{categoryTitle}}
      </span>
      not have any Sub_Category
    </h1>
  </div>
</div>