body {
  font-family: Arial, sans-serif;
}
.subCategory .sub-links.active_link {
  font-size: 18px;
  padding: 0px 10px;
  color: #dc8109 !important; /* Use only if necessary */
}

/* General styling for select elements */
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 13px;
  width: 100%; /* Full width on small screens */
  box-sizing: border-box;
  margin: 5px 0;
  width: 200px;
}

/* Container for select elements */
.dropdown-container {
  display: flex;
  flex-direction: row; /* Stack elements by default */
  gap: 10px; /* Space between elements */
}

.sort-options {
  margin: 0 0 5px 0;
  margin-left: auto; /* This pushes the sort options to the right */
  align-self: flex-end;
}

.filter-options {
  margin: 0 5px;
  margin-bottom: 10px;
  display: none;
}

.color-filter {
  margin-top: 20px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
}

.color-swatch {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.color-swatch input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.color-indicator {
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: 5px;
  border: 7px solid rgb(233, 231, 231);
}

.color-swatch input:checked + .color-indicator {
  padding: 5px;
  border: 4px solid rgb(233, 231, 231);

}


.title-wrapper {
  margin: 0;
  position: relative;
  height: 500px; /* Fixed height, adjust as needed */
  width: 100%; /* Full width of the parent */
  overflow: hidden; /* Hide any overflow content */
}

.title-wrapper img {
  width: 100%; /* Make the image take the full width */
  height: 100%; /* Make the image take the full height */
  object-fit: cover; /* Cover ensures the image covers the entire area */
  object-position: center; /* Center the image within the area */
  position: absolute; /* Position it absolutely within the wrapper */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.store-container {
  display: flex;
}

.sidebar {
  width: 250px;
  padding-bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.categories h2, .filters h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  padding: 5px 0;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="range"] {
  width: 100%;
}

.product-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 5px;
  margin-top: 10px;
}

app-product-card {
  width: calc(20%);
}
.product {
  width: calc(20% - 20px);
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 13px rgba(145, 143, 143, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 405px; /* Adjust the height as needed */
  margin: 10px;
}

.product img {
  max-width: 100%;
  height: 100%;
  max-height: 310px; /* Adjust the image height as needed */
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f04;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #c03;
}

.active {
  background-color: #f0f0f0;
  font-weight: bold;
}

.sub-links {
  color: black;
  text-decoration: none;
}
.sub-links:hover {
  color: #febd69;
}

.shop-by-category {
  text-align: start;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 90%;
}

.slider {
  display: flex;
  gap: 10px; /* Adjust spacing between categories */
}

.category-item {
  flex: 0 0 auto;
  text-align: center;
}

.category-item a {
  display: block;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.nav-button.left {
  position: absolute;
  left: 0;
}

.nav-button.right {
  position: absolute;
  right: 0;
}

.main-container {
  display: flex;
}

.sidebar {
  width: 240px; /* Adjust width as needed */
  padding: 20px;
  /* margin: 10px; */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  flex: 1;
  padding: 10px;
  width: 100%;
}

.product-slider {
  display: flex;
  overflow-x: auto;
  gap: 20px; /* Adjust spacing between products */
}
app-pagination {
  position: relative;
  bottom: 60px;
}

.text-center {
  text-align: center;
}

.cont-notfound {
  display: none; /* Default to none */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cont-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


.cont-notfound.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
}

.category-item {
  flex: 0 0 auto;
  text-align: center;
  width: 225px;
}
.category-item img {
  width: 100%; /* Adjust width as needed */
  height: 200px;
}

div.filters > div.price-range.mb-3.mt-5 > div > input {
  width: 70px; margin-right: 8px; font-size: 12px; padding: 5px 5px;
}

/* Responsive Styles */
@media (max-width: 1480px) {
  app-product-card {
    width: calc(25.00%);
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 205px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }

}
@media (max-width: 1480px) {
  app-product-card {
    width: calc(25.00%);
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 205px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }

}
@media screen and (max-width: 1280px) {
  app-product-card {
    width: calc(25%);
}
  .sidebar {
    width: 18.5%;
    padding: 10px;
    margin: 0;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 200px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }
  .range {
    font-size: 10px;
  }

}
@media screen and (max-width: 1024px) {
  app-product-card {
    width: calc(33.3%);
}
.slider-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 90%;
}
  .sidebar {
    width: 19%;
    margin: 0;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 200px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }

  
}
@media (max-width: 992px) {
  .sidebar {
    width: 25%;
  }

  app-product-card {
    width: calc(33.3%);
}
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 50%;
  }
  .sidebar {
    width: 180px; /* Adjust width as needed */
    padding: 10px;
    background-color: white;
    margin:0;
  }
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 85%;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }

  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 210px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }

  div.filters > div.price-range.mb-3.mt-5 > div > input {
    width: 55px; margin-right: 5px; font-size: 12px; padding: 3px 5px;
  }
}
@media (max-width: 768px) {
  .filter-options {

    display: block; /* Default to none */
  }
  .sidebar {
    width: 35%;
    display: none;
  }

  app-product-card {
    width: calc(33.3%);
}
  .sidebar {
    width: 150px; /* Adjust width as needed */
    padding: 5px;
    background-color: white;
    margin:0;
    display: none;
  }
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 80%;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 180px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 140px;
  }

}
@media (max-width: 550px) {
  .sidebar {
    width: 50%;
    display: none;
  }
  .store-container {
    flex-direction: column;
  }
  app-product-card {
    width: calc(50%);
}
  .sidebar {
    width: 150px; /* Adjust width as needed */
    padding: 5px;
    background-color: white;
    margin: 0;
    display: none;
  }
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 150px;
  }
  .category-item img {
    width: 140px; /* Adjust width as needed */
    height: 140px;
  }
  
}

@media (max-width: 350px) {
  .sidebar {
    width: 50%;
    display: none;
  }
  .store-container {
    flex-direction: column;
  }
  app-product-card {
    width: calc(100%);
}
  .sidebar {
    width: 150px; /* Adjust width as needed */
    padding: 5px;
    background-color: white;
    margin: 0;
    display: none;
  }
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 120px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 100px;
  }
  
}

