<div *ngIf="loading" style="margin: 30vh 50vw" class="spinner-container">
  <mat-spinner></mat-spinner>
  <div style="width: 200px; margin-top: 20px;" class="spinner-message">Loading, please wait...</div>
</div>
<div *ngIf="!loading && !showNotFound && subCategories.length > 0" class="main-container">
  <div class="sidebar">
    <div class="subCategory">
      <h2>{{ categoryTitle }}</h2>
      <ul>
        <li *ngFor="let subCategory of subCategories">
          <i class="fa-solid fa-angle-left"></i>
          <a class="sub-links" routerLinkActive="active_link"
            [routerLink]="['/categories', categoryTitle, subCategory.name]" [queryParams]="{ page: 1 }">
            {{ subCategory.name | capitalize }}
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="subCategoryName" class="filters">
      <div class="availability">
        <h3 style="margin: 5px 0;">Availability</h3>
        <label>
          <input type="checkbox" [(ngModel)]="filters.inStock" (change)="onFilterChange()"> In Stock <span
            *ngIf="inStockCount">({{inStockCount}})</span>
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="filters.notAvailable" (change)="onFilterChange()"> Not Available <span
            *ngIf="outOfStockCount">({{outOfStockCount}})</span>
        </label>
      </div>
      <div class="price-range">
        <h3 style="margin: 0; margin-top: 10px;">Price</h3>
        <app-custom-range-slider [min]="0" [max]="25000" [step]="10" [(minValue)]="filters.minPrice"
          [(maxValue)]="filters.maxPrice" (minValueChange)="onPriceRangeChange()"
          (maxValueChange)="onPriceRangeChange()">
        </app-custom-range-slider>
        <p>Range: ${{ filters.minPrice }} - ${{ filters.maxPrice }}</p>
      </div>
      <div class="color-filter">
        <h3 style="margin: 0 5px;">Color</h3>
        <div class="color-options">
          <label *ngFor="let color of colorOptions" class="color-swatch">
            <input type="checkbox" [checked]="filters.colors.includes(color)" (change)="onColorChange(color, $event)">
            <div class="color-indicator" [style.background]="color"></div>
          </label>
        </div>
      </div>
      <div class="size-filter">
        <h3 style="margin: 5px 0 5px;">Size</h3>
        <label><input type="checkbox" [checked]="filters.sizes.includes('small')"
            (change)="onSizeChange('small', $event)"> Small</label>
        <label><input type="checkbox" [checked]="filters.sizes.includes('medium')"
            (change)="onSizeChange('medium', $event)"> Medium</label>
      </div>
    </div>

  </div>

  <div style="height: 600px; width: 85%;" class="content-wrapper" *ngIf="subCategories.length > 0">
    <div *ngIf="categoryTitle && !subCategoryName" class="title-wrapper"
      [ngStyle]="{'background-image': subCategoryName ? 'url(' + currentSubCategoryImage + ')' : 'url(' + currentCategoryImage + ')'}">
    </div>
    <div *ngIf="subCategoryName" class="sort-options">
      <app-sort-options [currentSortOption]="currentSortOption" (change)="onSortChange($event)"></app-sort-options>
    </div>
    <main class="product-list"
      [ngStyle]="{'padding': subCategoryName && products.length > 0 ? '5px 5px 50px 5px' : '0px'}">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </main>
    <div class="cont-notfound" *ngIf="subCategoryName && products.length == 0">
      <div class="text-center">
        <h1 class="not-found-title"><span class="text-danger">Not Found Any Products</span></h1>
      </div>
    </div>
    <!-- Pagination Component -->
    <app-pagination *ngIf="subCategoryName && products.length > 0 && totalPages.length > 1" [currentPage]="currentPage" [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </app-pagination>

    <div *ngIf="categoryTitle && !subCategoryName" class="shop-by-category">
      <h2 style="margin-left: 8.5vw; margin-top: 20px;">Shop by category</h2>
      <div class="slider-container">
        <button class="nav-button left" (click)="scrollLeft(slider)">&#10094;</button>
        <div style="background-color: rgb(225, 230, 229); padding: 10px; margin: 5px;" class="slider-wrapper" #slider>
          <div style="margin: 5px;" class="slider">
            <div class="category-item" *ngFor="let subCategory of subCategories">
              <img (click)="redirectToSubCategory(categoryTitle, subCategory.name)"
                style="cursor: pointer" [src]="subCategory.img" [alt]="subCategory.name">
              <a (click)="redirectToSubCategory(categoryTitle, subCategory.name)">{{ subCategory.name }}</a>
            </div>
          </div>
        </div>
        <button class="nav-button right" (click)="scrollRight(slider)">&#10095;</button>
      </div>
    </div>
  </div>
</div>
<div class="cont-notfound" [ngClass]="{'show-container': showNotFound}">
  <div class="text-center">
    <h1 class="not-found-title">Category <span class="text-danger">{{categoryTitle}} {{subCategoryName}}</span> Not
      Found</h1>
  </div>
</div>