<div *ngIf="loading" style="margin: 30vh 40vw" class="spinner-container">
    <mat-spinner></mat-spinner>
    <div style="width: 200px; margin-top: 20px;" class="spinner-message">Loading, please wait...</div>
</div>

<div *ngIf="auth() && !loading">
    <h1 class="text-center my-2">Manage Products</h1>
    <button class="filter-options" (click)="openFilterModal()">Filter</button>
    <app-sort-options class="sort-options" style="position: relative; left: -10px;" [currentSortOption]="currentSortOption"
        [currentElementSizeOption]="currentElementSizeOption" [showSubCatDropdown]="true"
        [currentEmailSeller]="currentEmailSeller" [currentSubCat]="currentSubCat" (sortChange)="onSortChange($event)"
        (elementChange)="onSizeElementChange($event)" (emailChange)="onEmailChange($event)"
        (subCatChange)="onSubCatChange($event)">
    </app-sort-options>
    <div class="container">
        <div class="manage-products-container">
            <div class="button-group" style="display: flex; align-items: center; gap: 10px;">
                <a class="btn btn-primary" (click)="open()"><i class="fa fa-plus"></i> Add New Product</a>
                <a class="btn btn-danger" (click)="deleteProducts()">
                    <i class="fas fa-trash-alt"></i> Delete Selected Products
                </a>
                <a class="btn btn-info" (click)="makeDiscount()">
                    <i class="fa fa-plus"></i> Discount For Selected
                </a>
                <input type="number" [(ngModel)]="discount" placeholder="Set Discount %" class="form-control"
                    style="width: 100px;">

                <div class="search-prod" style="display: flex; gap: 10px;">
                    <input type="text" class="form-control" placeholder="Search Products By Name"
                        (keydown.enter)="onSearch()" [(ngModel)]="nameQuery">
                    <button class="btn btn-secondary" (click)="onSearch()">Search</button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table *ngIf="products.length > 0; else noProducts"
                class="main-table table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <input type="checkbox" class="m-2" (change)="makeAllSelected($event)">
                            #ID
                        </th>
                        <th>Product Title</th>
                        <th>Sub_Category Name</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Email Seller</th>
                        <th>Image</th>
                        <th>Stock</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>
                            <input type="checkbox" class="m-2" [(ngModel)]="selectedProducts[product.productId]"
                                (change)="toggleProductSelection(product.productId)">
                            {{ product.productId }}
                        </td>
                        <td>{{ product.productTitle }}</td>
                        <td>{{ product.subCategory.name }}</td>
                        <td>${{ product.price }}</td>
                        <td>{{ product.discountPercent }}%</td>
                        <td>{{ product.email }}</td>
                        <td><img width="50" height="50" [src]="product.imageUrl"></td>
                        <td>{{ product.allQuantity }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm mr-1" (click)="detailsProduct(product.productId)"
                                style="margin-right: 10px;">
                                <i class="fa fa-circle-info"></i> Details
                            </a>
                            <a (click)="edit(product)" class="btn btn-success btn-sm mr-1" style="margin-right: 10px;">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <a class="btn btn-danger btn-sm confirm" (click)="deleteProduct(product.productId)">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <app-pagination *ngIf="products.length > 0;" [currentPage]="currentPage" [totalPages]="totalPages"
            (pageChange)="onPageChange($event)">
        </app-pagination>

        <ng-template #noProducts>
            <div class="cont-notfound">
                <div class="text-center">
                    <h1 class="not-found-title"><span class="text-danger">No Products Found</span></h1>
                </div>
            </div>
        </ng-template>
    </div>
</div>