app-pagination {
  margin: 100px;
  position: relative;
  bottom: 35px;
}
.main-table th,
.main-table td {
  vertical-align: middle;
  white-space: nowrap; /* Prevent text wrapping */
  word-wrap: break-word;
}
/* Base styling for the container */
.manage-products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Styling for buttons and form elements */
.manage-products-container .button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.manage-products-container .sort-options {
  margin-right: auto;
}

.manage-products-container .button-group .btn {
  flex: 1 1 auto;
  min-width: 150px;
}

/* Input fields */
.manage-products-container input {
  margin-top: 5px;
  flex: 1 1 auto;
  min-width: 150px;
  padding: 0.5rem;
  font-size: 0.875rem;
}

/* Sort options */
.manage-products-container .sort-options select {
  padding: 0.5rem;
  font-size: 0.875rem;
}
.sort-options {
  margin: 0 5px;
  margin-bottom: 10px;
  margin-left: auto; /* This pushes the sort options to the right */
  align-self: flex-end;
}

.filter-options {
  margin: 0 5px;
  margin-bottom: 10px;
  display: none;
  margin-top: 10px;
  padding: 6px 20px;
  background-color: #f04;
  color: #fff;
  border: none;
  cursor: pointer;
}

  
select {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .manage-products-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .manage-products-container .button-group {
    width: 100%;
    justify-content: center;
  }

  .manage-products-container .sort-options {
    width: 10%;
    text-align: center;
    margin-top: 10px;
  }

  .manage-products-container input,
  .manage-products-container .sort-options select {
    width: 100%;
  }
  .sort-options {
    display: flex;
    gap: 25px;
    flex-direction: row;
  }
}

/* Responsive Adjustments */
@media (max-width: 520px) {
  .manage-products-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .manage-products-container .button-group {
    width: 100%;
    justify-content: center;
  }

  .manage-products-container .sort-options {
    width: 10%;
    text-align: center;
    margin-top: 10px;
  }

  .manage-products-container input,
  .manage-products-container .sort-options select {
    width: 100%;
  }
  .sort-options {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }
  .search-prod {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
}

@media (min-width: 1600px) and (max-width: 2000px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1500px;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1240px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1024px;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 850px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 750px;
  }
}
@media (min-width: 850px) and (max-width: 992px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 625px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 550px;
  }
}

@media (min-width: 720px) and (max-width: 768px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 630px) and (max-width: 720px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 660px;
  }
}

@media (min-width: 580px) and (max-width: 630px) {
  .main-table th,
  .main-table td {
    font-size: 0.875rem; /* Smaller text */
    padding: 0.5rem; /* Smaller padding */
  }

  .btn-sm {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 600px;
  }
}

/* Style the spinner container */
.spinner-container {
  text-align: center;
  margin-top: 20px;
}

/* Center the toast message */
.toast-container {
  position: fixed;
  top: 14%;
  right: 1%;
  z-index: 9999;
  color: white;
  background-color: rgb(61, 106, 29);
  opacity: 0.8;
  padding: 15px;
}

@media (max-width: 768px) {
  .filter-options {
    display: block; /* Default to none */
  }
}
