.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(251, 194, 235, 1),
    rgba(166, 193, 238, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(251, 194, 235, 1),
    rgba(166, 193, 238, 1)
  );
}
.toast-container {
  position: fixed;
  font-size: 32px;
  top: 40.5%;
  right: 30.3%;
  z-index: 9999;
  color: white;
  background-color: rgb(185, 38, 19);
  opacity: .6;
  padding: 25px;
}
