<div *ngIf="auth()">
    <h1 class="text-center my-2">Manage Categories</h1>
    <div class="container">
        <div class="table-responsive">
            <a class="btn btn-primary mb-3" (click)="open()"><i class="fa fa-plus"></i> Add New Category</a>
            <table *ngIf="categories.length > 0; else noCats"
                class="main-table table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#ID</th>
                        <th>Category Name</th>
                        <th>Image</th>
                        <th>Total Subcategories</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of paginatedCategories">
                        <td data-label="ID">{{ category.categoryId }}</td>

                        <td data-label="Category Name">
                            {{ category.categoryTitle }}
                        </td>

                        <td data-label="Image">
                            <div class="image-wrapper">
                                <img [src]="category.img" alt="Category Image">

                                <button (click)="triggerFileInput(category)" class="change-image-btn">
                                    Change Image
                                </button>
                            </div>

                            <input type="file" #fileInput (change)="onFileSelected($event)" class="d-none">
                        </td>

                        <td data-label="Total Subcategories">
                            {{ getCountOfSubCats(category.categoryTitle) }}
                        </td>

                        <td data-label="Control">
                            <a (click)="update(category)" class="btn btn-success btn-sm mb-1 w-100">
                                <i class="fa fa-edit"></i> Edit
                            </a>

                            <a class="btn btn-danger btn-sm w-100" (click)="deleteCategory(category.categoryId)">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="pagination-container">
                <nav class="d-flex justify-content-center mt-3" *ngIf="totalPages > 1">
                    <ul class="pagination">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                            [class.active]="currentPage === i + 1">
                            <a class="page-link" (click)="changePage(i + 1)">
                                {{ i + 1 }}
                            </a>
                        </li>
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <ng-template #noCats>
                <p>No Categories found.</p>
            </ng-template>
        </div>
    </div>
</div>