<select (change)="onSortChange($event)" [ngModel]="currentSortOption">
    <option value="createdAtDesc">Sort By: Featured Products</option>
    <option value="createdAtAsc">Sort By: Old Products</option>
    <option value="priceAsc">Price (Low to High)</option>
    <option value="priceDesc">Price (High to Low)</option>
  </select>
  
  <select (change)="onEmailChange($event)" [(ngModel)]="currentEmailSeller">
    <option value="" selected>Select Products By Seller</option>
    <option *ngFor="let email of emailSellers" [value]="email">{{ email }}</option>
  </select>
  