body {
    font-family: Arial, sans-serif;
  }

  .filter-options {
    margin: 0 5px;
    margin-bottom: 10px;
    display: none;
  }

  .active_link {
    font-size: 18px;
    padding: 0px 10px;
  }
  

  
  a {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .store-container {
    display: flex;
  }
  
  .sidebar {
    min-height: 100vh;
    width: 250px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f04;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #c03;
}


  input[type="range"] {
    width: 100%;
  }
  
  .sort-options {
    margin-top: 10px;
  }

  .color-filter {
    margin-top: 20px;
  }
  
  .color-options {
    display: flex;
    flex-wrap: wrap;
  }
  
  .color-swatch {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }
  
  .color-swatch input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .color-indicator {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  
  .color-swatch input:checked + .color-indicator {
    border: 5px solid #000000; /* Change to desired border color for checked state */
  }
  
  .product-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 100px;
  }
  

  .main-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px; /* Adjust width as needed */
    padding: 20px;
    background-color: white;
  }

  app-product-card {
    width: calc(20%);
  }
  app-pagination {
    position: relative;
    bottom: 80px;
  }

  div.filters > div.price-range.mb-3.mt-5 > div > input {
    width: 70px; margin-right: 8px; font-size: 12px; padding: 5px 5px;
  }
  
  /* Responsive Styles */
  @media (max-width: 1280px) {
    .sidebar {
      width: 25%;
    }
    app-product-card {
        width: calc(33.3%);
    }
  
  }
  @media (max-width: 992px) {
    .sidebar {
      width: 25%;
    }
  
    .sidebar {
      width: 170px; /* Adjust width as needed */
      padding: 20px;
      background-color: white;
    }
    app-product-card {
        width: calc(50%);
    }
  }
  @media (max-width: 700px) {
    .sidebar {
      width: 35%;
    }
  
    .product {
      width: calc(100% - 20px);
    }
    .sidebar {
      width: 150px; /* Adjust width as needed */
      padding: 20px;
      background-color: white;
    }
    app-product-card {
        width: calc(100%);
    }
  
  }
  @media (max-width: 600px) {
    .sidebar {
      width: 50%;
    }
    .store-container {
      flex-direction: column;
    }
    .sidebar {
      width: 150px; /* Adjust width as needed */
      padding: 20px;
      background-color: white;
    }
    app-product-card {
        width: calc(100%);
    }

  }
  
  @media (max-width: 400) {
    .sidebar {
      width: 50%;
    }
    .store-container {
      flex-direction: column;
    }
    .product {
      width: 100%;
    }
    .sidebar {
      width: 100px; /* Adjust width as needed */
      padding: 5px;
      background-color: white;
    }
    app-product-card {
        width: calc(100%);
    }
  }
  
  /* Responsive Styles */
@media (max-width: 1480px) {
  app-product-card {
    width: calc(25.00%);
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 205px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }

}
@media screen and (max-width: 1280px) {
  app-product-card {
    width: calc(33.3%);
}
  .sidebar {
    width: 18.5%;
    padding: 10px;
    margin: 0;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 200px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }
  .range {
    font-size: 10px;
  }

}
@media screen and (max-width: 1024px) {
  app-product-card {
    width: calc(33.3%);
}
.slider-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 90%;
}
  .sidebar {
    width: 19%;
    margin: 0;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 200px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }

  
}
@media (max-width: 992px) {
  .sidebar {
    width: 25%;
  }

  app-product-card {
    width: calc(50%);
}
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 50%;
  }
  .sidebar {
    width: 180px; /* Adjust width as needed */
    padding: 10px;
    background-color: white;
    margin:0;
  }
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 85%;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }

  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 210px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 200px;
  }

  div.filters > div.price-range.mb-3.mt-5 > div > input {
    width: 55px; margin-right: 5px; font-size: 12px; padding: 3px 5px;
  }
}
@media (max-width: 768px) {
  .filter-options {

    display: block; /* Default to none */
  }
  .sidebar {
    width: 35%;
    display: none;
  }

  app-product-card {
    width: calc(50%);
}
  .sidebar {
    width: 150px; /* Adjust width as needed */
    padding: 5px;
    background-color: white;
    margin:0;
    display: none;
  }
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 80%;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 240px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 140px;
  }

}
@media (max-width: 600px) {
  .sidebar {
    width: 50%;
    display: none;
  }
  .store-container {
    flex-direction: column;
  }
  app-product-card {
    width: calc(50%);
}
  .sidebar {
    width: 150px; /* Adjust width as needed */
    padding: 5px;
    background-color: white;
    margin: 0;
    display: none;
  }
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 250px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 140px;
  }
  
}

@media (max-width: 500px) {
  .sidebar {
    width: 50%;
    display: none;
  }
  .store-container {
    flex-direction: column;
  }
  app-product-card {
    width: calc(100%);
}
  .sidebar {
    width: 150px; /* Adjust width as needed */
    padding: 5px;
    background-color: white;
    margin: 0;
    display: none;
  }
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
  }
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
  }
  .category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 250px;
  }
  .category-item img {
    width: 100%; /* Adjust width as needed */
    height: 140px;
  }
  
}
