* {
    font-size: 16px;
    font-weight: 500;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #232F3E;
    color: white;
    flex-wrap: wrap;
    padding-left: 10px;
    padding: 5px;
}

.navbar a {
    border: 2px solid transparent; /* Set an initial transparent border */
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    border: 2px solid rgba(246, 234, 234, 0.968);
}



.navbar .logo {
    margin-right: 20px;
    background-color: currentcolor;
    padding: 5px;
}

.navbar .search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    max-width: 550px;
    margin: 5px 0;
}

.navbar .search-bar select,
.navbar .search-bar input {
    border: none;
    padding: 10px;
    color: #191a1a;
}

.navbar .search-bar select {
    background-color: #febd69;
    padding: 12px;

}

.navbar .search-bar input {
    flex-grow: 1;
}

.navbar .search-bar button {
    background-color: #febd69;
    border: none;
    padding: 10px;
}

.navbar .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .menu > * {
    margin: 0 10px;
}

.navbar .flag-icon {
    width: 24px;
    height: 16px;
    margin-right: 5px;
}

.navbar .cart {
    display: flex;
    align-items: center;
}

.navbar .cart-count {
    background-color: #cb270f;
    color: #febd69;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 5px;
    z-index: 100;
    font-size: 20;
    font-weight:bolder;
}

.second-navbar {
    display: flex;
    align-items: center;
    background-color: #37475A;
    padding: 12px 20px;
    color: white;
    flex-wrap: wrap;
}

.second-navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.second-navbar a:hover {
    text-decoration: underline;
}

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #232F3E;
    color: white;
    padding: 10px;
    z-index: 1000;
  }
  
  .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-item {
    margin: 5px 0;
    padding: 5px 10px;
    color: #191a1a;
    background-color: #37475A;
  }
  
  .navbar .menu:hover .dropdown-menu {
    display: block;
  }
  

@media screen and (max-width: 768px) {
    .navbar-custom {
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px; /* Set font size */
    }
    .search-bar {
        width: 90%;
        margin: 10px 0;
        font-size: 14px; /* Set font size */
    }
    .menu {
        flex-direction: row;
        width: 100%;
        font-size: 14px; /* Set font size */
    }
    .second-navbar {
        flex-direction: row;
        padding-left: 10px;
        align-items: flex-start;
        font-size: 14px; /* Set font size */
    }

    .navbar .search-bar {
        flex-grow: 0;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 4px;
        overflow: hidden;
        max-width: 330px;
        font-size: 14px;
        margin-right: 15px;
    }
    
    .navbar .search-bar select,
    .navbar .search-bar input {
        border: none;
        padding: 7px;
        font-size: 14px; 
    }
    
    .navbar .search-bar select {
        background-color: #febd69;
        max-width: 100px;
        padding: 12px;
        font-size: 14px; 
    }
    
    .navbar .search-bar input {
        flex-grow: 1;
        width: 150px;
        font-size: 14px; 
    }
    
    .navbar .search-bar button {
        background-color: #febd69;
        border: none;
        padding: 10px 20px;
        font-size: 14px; 
    }
    .second-navbar {
        font-size: 14px;
    }
}
