/* ================= BASE ================= */
.nav {
  background: #1f2833;
  color: white;
}

.sticky {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 8px;
  width: 100%;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.amazon img {
  width: 7em;
}

/* SEARCH */
.nav-search select {
  background: #ddd;
  padding: 7px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-search input {
  flex: 1;
  border: none;
  outline: none;
  padding: 6px;
}

.nav-search .sicon {
  background: orange;
  padding: 7px 14px;
  cursor: pointer;
}


.nav-search {
  flex: 1;
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #000;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.nav-search:focus-within {
  border: 3px solid orange;
  box-shadow: 0px 0px 15px orange;
}




/* SIGN / CART */
.sign,
.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.xshop a {
  position: relative;
  padding: 4px 6px;
  text-decoration: none;
  color: white;
}

.xshop a::after {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 0px;
  height: 1px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.xshop a:hover::after,
.xshop a.active_link::after {
  transform: scaleX(1);
}


.user {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.cart {
  position: relative;
}

.cardCount {
  position: absolute;
  top: -4px;
  right: -6px;
  background: orange;
  color: black;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  font-weight: bold;
}

/* DROPDOWN */
.dropdown-menu {
  position: absolute;
  top: 123%;
  right: 70px;
  background: #232f3e;
  padding: 10px;
  display: none;
  z-index: 999;
  min-width: 220px;
  color: white;
}

.sign:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-item {
  padding: 6px;
  background: #37475a;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  width: 200px;
}

.dropdown-item:hover {
  background: #485769;
}

/* ================= NAV MAIN ================= */
.nav-main {
  background: #222f3d;
  padding: 4px 0px;
}



/* ACCOUNT BOX */
.signin.no-login {
  font-weight: 900;
  font-size: 13px;
}
.account-box {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.account-top {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.account-bottom {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  font-weight: bold;
}

.user-icon {
  font-size: 14px;
}

.material-symbols-rounded {
  font-size: 40px;
}

.hello {
  font-weight: bold;
}

.active_link {
  border-bottom: 2px solid white;
}

.orders {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  cursor: pointer;
}

.xshop-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.xshop-container {
  flex: 1;
}

.xshop a {
  white-space: nowrap;
  padding: 5px 10px;
}

.ellipsis {
  font-weight: bold;
  padding: 0 4px;
}

.slider-btn {
  background: #1f2833;
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 5px 6px 4px;
}

.slider-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.xshop {
  position: relative;
  padding: 5px 15px 30px 4px;
  width: 100vw;
  height: 30px;
}

.ellipsis {
  cursor: pointer;
  padding: 0 8px;
  font-weight: bold;
  visibility: hidden;
}

.dropdown {
  position: absolute;
  top: 100px;
  left: 150px;
  background: #232f3e;
  border: 1px solid #ddd;
  color: white;
  min-width: 140px;
  z-index: 1000;
  padding: 4px;
}

.dropdown a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 8px;
  background: #37475a;
  margin: 6px 4px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  width: 120px;
}

.dropdown a:hover {
  background: #485769;
}


@media (max-width: 992px) {

  .nav-search input {
    font-size: 13px;
  }

  .nav-search select {
    padding: 7px 0;
  }

  .sign,
  .cart {
    gap: 7px;
  }

  .user {
    max-width: 70px;
  }

  .dropdown-menu {
    min-width: 130px;
  }

  .amazon img {
    width: 4em;
  }

  .address,
  .ind,
  .hello,
  .cardName {
    display: flex;
    font-size: 14px;
  }

}

/* ================= MOBILE FIX ================= */
@media (max-width: 768px) {

  .sticky {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    gap: 6px;
  }

  .nav-left {
    grid-column: 1 / 2;
  }

  .nav-right {
    grid-column: 3 / 4;
  }

  .nav-search {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 100%;
  }

  .amazon img {
    width: 4.8em;
  }

  .sign {
    font-size: 16px;
  }

  .user {
    max-width: 100px;
  }

  .address,
  .ind,
  .hello,
  .cardName {
    display: flex;
  }

  .account-top {
    font-size: 11px;
  }

  .account-bottom {
    font-size: 12px;
  }

  .xshop {
    overflow: scroll;
  }
}

/* ================= MOBILE FIX ================= */
@media (max-width: 500px) {

  .sticky {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    gap: 5px;
  }

  .nav-left {
    grid-column: 1 / 2;
  }

  .nav-right {
    grid-column: 3 / 4;
  }

  .nav-search {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 100%;
  }

  .amazon img {
    width: 3.6em;
  }

  .sign {
    font-size: 11px;
  }

  .user {
    max-width: 60px;
  }

  .address,
  .ind,
  .hello,
  .cardName {
    display: flex;
    font-size: 11px;
  }

  .account-top {
    font-size: 11px;
  }

  .account-bottom {
    font-size: 11px;
  }

  .xshop-container {
    flex: 1;
    overflow: scroll;
  }

  .xshop {
    overflow: scroll;
  }
}

/* ================= VERY SMALL ================= */
@media (max-width: 360px) {
  .sticky {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    gap: 4px;
    font-size: 11px;
  }

  .amazon img {
    width: 5em;
  }

  .sign {
    font-size: 11px;
  }


  .account-top {
    font-size: 11px;
  }

  .account-bottom {
    font-size: 11px;
  }

  .address,
  .ind,
  .hello,
  .cardName {
    display: none;
  }

  .material-symbols-rounded {
    font-size: 30px;
  }

  .xshop-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .xshop-container {
    flex: 1;
    overflow: hidden;
  }

  .xshop {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    overflow: scroll;

  }

  .xshop a {
    white-space: nowrap;
    padding: 2px 3px;
  }

  .ellipsis {
    font-weight: bold;
    visibility: visible;
  }

  .slider-btn {
    background: #1f2833;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
  }

  .slider-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}