<!-- -------------------------header--------------------------- -->
<div class="nav">
  <div class="sticky">
    <div class="nav-left">
      <div class="amazon hover">
        <!-- <i class="fa-solid fa-bars menu"></i> -->
        <a routerLink=""><img src="../../../assets/amz/amazoni1.png" alt="amazon.in"></a>
      </div>
      <div class="address hover">
        <div class="add">
          <i class="fa-solid fa-location-dot"></i>
          <b>Select address</b>
        </div>
      </div>
    </div>

    <div class="nav-search" #searchContainer>
      <select #selectElement style="padding: 7px;" [(ngModel)]="selectedCategory">
        <option value="all">All</option>
        <option *ngFor="let category of categories" [value]="category.categoryTitle">{{ category.categoryTitle }}
        </option>
      </select>
      <input type="search" name="search" id="search" placeholder=" Search Amazon.in" [(ngModel)]="searchText"
        (keydown.enter)="goToSearchResult()">
      <label for="search" class="sicon" (click)="goToSearchResult()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>
    </div>

    <div class="nav-right">
      <div class="ind hover">
        <img src="../../../assets/amz/india.png" alt="india">
        <b class=" add">EN</b>
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <div class="sign hover" (mouseenter)="toggleMenu(true)" (mouseleave)="toggleMenu(false)">
        <div  class="small" style="font-weight: bolder;">
          <div class="hello">Hello, </div>
          <div *ngIf="!auth();" routerLink="/login" (mouseenter)="toggleMenu(false)" (click)="toggleMenu(false)" class="signin not-login">
            Sign in
          </div>
          <div class="signin user" (click)="toggleMenu(true)"
            (touchend)="toggleMenu(false)">
            {{ username }}
          </div>
          <i class="fa-solid fa-angle-right arrow" (mouseenter)="toggleMenu(false)" (click)="toggleMenu(false)"></i>
          <i class="fa-regular fa-user user" (mouseenter)="toggleMenu(false)" (click)="toggleMenu(false)"></i>
        </div>
        <div class="add">
          <b>Account & Lists</b>
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="dropdown-menu" *ngIf="menuVisible">
          <div class="dropdown-content">
            <div *ngIf="!auth();" class="dropdown-item"><a routerLink="/login">Login</a></div>
            <div class="dropdown-item" *ngIf='auth() && role=="ADMIN";' routerLink="dashboard">Dashboard</div>
            <div *ngIf="auth()" class="dropdown-item"><a routerLink="/user/profile">Account</a></div>
            <div *ngIf="auth();" class="dropdown-item"><a routerLink="/login" (click)="logout()">Logout</a></div>
          </div>
        </div>
      </div>
      <div class="return  hover">
        <div class="add">
          <b>Orders</b>
        </div>
      </div>
      <div routerLink="cart" class="cart hover">
        <span style="font-size: 2.5em;" class="material-symbols-rounded">
          shopping_cart
        </span>
        <p class="cardCount">{{getCountOfItems()}}</p>
        <div style="margin-top: 10px;" class="add cardName">
          <b style="margin-left: -15px;">Cart</b>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-main">
    <div class="nav-main-menu">
      <div class="nav-menu">
        <i class="fa-solid fa-bars menubar"></i>
        <div><b>All</b></div>
      </div>
      <div class="xshop">
        <a routerLinkActive="active_link" [routerLink]="['/categories', category.categoryTitle]"
          (click)="saveImg(category.img)" *ngFor="let category of categories">
          {{ category.categoryTitle }}
        </a>
      </div>
    </div>
    <div class="slot">
      <img class="last" alt="Amazon App"
        src="https://m.media-amazon.com/images/G/31/IN-hq/2021/img/Mobile_Traffic_/XCM_Manual_1321458_1651511_IN_3781247_400x39_en_IN._CB655944656_.jpg">
    </div>
  </div>
</div>




<!-- <div class="navbar">
  <a routerLink="/" class="logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" alt="Amazon Logo" height="30">
  </a>
  <div class="search-bar">
    <select [(ngModel)]="selectedCategory">
      <option value="all">All</option>
      <option *ngFor="let category of categories" [value]="category.categoryTitle">{{ category.categoryTitle }}</option>
    </select>
    <input type="text" placeholder="Search Amazon.eg" [(ngModel)]="searchText"
      (keydown.enter)="goToSearchResult()">
    <button (click)="goToSearchResult()">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg" alt="Search Icon" height="20">
    </button>
  </div>
  <div class="menu">
    <a *ngIf='auth() && role=="ADMIN";' routerLink="dashboard">Dashboard</a>
    <a href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg" alt="Egypt Flag"
        class="flag-icon">
      <select style="background-color: black; color: white;">
        <option>En</option>
      </select>
    </a>
    <div class="account-lists" (mouseenter)="toggleMenu(true)" (mouseleave)="toggleMenu(false)">
      <a style="display: flex; flex-direction: column">
        <p *ngIf="auth();" style="margin-bottom: 0;">Hello, {{ username }}</p>
        <p *ngIf="!auth();" style="margin-bottom: 0;">Hello, Sign In</p>
        <p>Account & Lists</p>
      </a>
      <div class="dropdown-menu" *ngIf="menuVisible" (mouseenter)="toggleMenu(true)" (mouseleave)="toggleMenu(false)">
        <div class="dropdown-content">
          <div *ngIf="!auth();" class="dropdown-item"><a routerLink="/login">Login</a></div>
          <div *ngIf="auth()" class="dropdown-item"><a routerLink="/user/profile">Account</a></div>
          <div class="dropdown-item"><a href="#">Orders</a></div>
          <div class="dropdown-item"><a href="#">Recommendations</a></div>
          <div class="dropdown-item"><a href="#">Browsing History</a></div>
          <div class="dropdown-item"><a href="#">Watchlist</a></div>
          <div class="dropdown-item"><a href="#">Video Purchases & Rentals</a></div>
          <div class="dropdown-item"><a href="#">Kindle Unlimited</a></div>
          <div class="dropdown-item"><a href="#">Content & Devices</a></div>
          <div class="dropdown-item"><a href="#">Subscribe & Save Items</a></div>
          <div class="dropdown-item"><a href="#">Memberships & Subscriptions</a></div>
          <div class="dropdown-item"><a href="#">Music Library</a></div>
          <div *ngIf="auth();" class="dropdown-item"><a routerLink="/login" (click)="logout()">Logout</a></div>
        </div>
      </div>
    </div>
    <a href="#">Orders</a>
    <a routerLink="cart" class="cart">
      <img src="../../../assets/shopping-cart-outline-svgrepo-com.svg" style="color: white;" width="50" alt="Cart Icon">
      <span style="font-size: small; position: relative; left: -20px; top: -10px;"
        class="cart-count">{{getCountOfItems()}}</span>
    </a>
  </div>
</div>

<div class="second-navbar">
  <a routerLinkActive="active_link" [routerLink]="['/categories', category.categoryTitle]"
    (click)="saveImg(category.img)" *ngFor="let category of categories">
    {{ category.categoryTitle }}
  </a>
</div>
 -->


















































<!-- <nav class="navbar navbar-expand-lg  bg-dark p-1">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="">Ecommerce</a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-light" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/products" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active_link">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/about" routerLinkActive="active_link">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/contact" routerLinkActive="active_link">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-lg-inline-flex">
        <div class="dropdown mt-1" *ngIf="auth(); else login">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img *ngIf="img !='null'; else noImg" [src]="img" alt="mdo" width="32" height="32" class="rounded-circle">
            <ng-template #noImg>
              <img #noImg width="32" height="32" class="rounded-circle" src="https://media.istockphoto.com/id/1317551891/vector/account-avatar-member-person-profle-user-icon-eps-vector.jpg?s=612x612&w=0&k=20&c=wsVtFuxw-tZOIrLIff8gY8b49xNxeGCnXqM8OGJyiS8=">
            </ng-template>
            <span *ngIf="!loading">
              <span class="ms-2">{{ username }}</span>!
            </span>
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item text-dark" routerLink="/user/profile">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-dark" routerLink="/login" (click)="logout()">Logout</a></li>
          </ul>
        </div>

        <ng-template #login>
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
              <a class="nav-link mx-2" routerLink="/login" routerLinkActive="active_link">Login/Register</a>
            </li>
          </ul>
        </ng-template>
        <li class="nav-item mx-2" style="cursor: pointer; width: 80px; margin-top: -5px" routerLink="cart" routerLinkActive="active_link">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-cart nav-item mx-2 mt-2" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
          <span>{{quantity}}</span>
        </li>
      </ul>
    </div>
  </div>
</nav> -->