<!-- <div class="modal-header">
    <h2 class="modal-title" style="margin-top: 10px;">Add New Product</h2>
    <button class="btn btn-close bg-danger text-light" style="margin-right: 5px;"></button>
</div>
<div class="modal-body">
    <div class="row">

    </div>
</div> -->
<h4>Category Name: {{ categoryTitle }}</h4>
<div class="container">
    <h2 class="filter-title">Select Sub Categories</h2>
    <ul>
        <li *ngFor="let subCategory of subCategories">
            <i class="fa-solid fa-angle-left"></i>

            <a class="sub-links" [class.active_link]="activeSub === subCategory.name"
                (click)="setActiveSub(subCategory.name)" [routerLink]="['/categories', categoryTitle, subCategory.name]"
                [queryParams]="{ page: 1 }">
                {{ subCategory.name | capitalize }}
            </a>

        </li>
    </ul>
    <div class="availability">
        <h3 class="filter-title">Availability</h3>
        <label class="filter-label">
            <input type="checkbox" [(ngModel)]="filters.inStock" (change)="onFilterChange()"> In Stock
            <span *ngIf="inStockCount">({{inStockCount}})</span>
        </label>
        <label class="filter-label">
            <input type="checkbox" [(ngModel)]="filters.notAvailable" (change)="onFilterChange()"> Not Available
            <span *ngIf="outOfStockCount">({{outOfStockCount}})</span>
        </label>
    </div>

    <div class="price-range mb-3 mt-5">
        <span class="range">Price Range:</span>
        <div class="price-inputs">
            <input type="number" class="form-control" [(ngModel)]="filters.minPrice" min="0" max="25000" step="10"
                placeholder="Min">
            <input type="number" class="form-control" [(ngModel)]="filters.maxPrice" min="0" max="25000" step="10"
                placeholder="Max">
            <input class="btn btn-warning text-light" type="submit" (click)="onPriceRangeChange()" value="Go">
        </div>
        <app-custom-range-slider class="custom-range-slider" [min]="0" [max]="25000" [step]="10"
            [(minValue)]="filters.minPrice" [(maxValue)]="filters.maxPrice">
        </app-custom-range-slider>
        <p>Range: $0 - $25000</p>
    </div>

    <div class="color-filter">
        <h2 class="filter-title">Color <button class="btn btn-warning text-light m-2" (click)="applyColorFilter()">
                GO
            </button></h2>
        <div class="color-options">
            <label class="color-swatch" *ngFor="let color of colorOptions">
                <input type="checkbox" [checked]="filters.colors.includes(color)"
                    (change)="onColorToggle($event)" value="{{color}}">
                <div class="color-indicator" [ngStyle]="{'background': color}">
                </div>
            </label>
        </div>
    </div>

    <h2 class="filter-title">Size <button class="btn btn-warning text-light m-2" (click)="applySizeFilter()">
            GO
        </button></h2>

    <div class="size-options">
        <label class="filter-label">
            <input type="checkbox" value="small" [checked]="filters.sizes.includes('small')"
                (change)="onSizeToggle($event)" />
            Small
        </label>

        <label class="filter-label">
            <input type="checkbox" value="medium" [checked]="filters.sizes.includes('medium')"
                (change)="onSizeToggle($event)" />
            Medium
        </label>

        <label class="filter-label">
            <input type="checkbox" value="large" [checked]="filters.sizes.includes('large')"
                (change)="onSizeToggle($event)" />
            Large
        </label>
        <label class="filter-label">
            <input type="checkbox" value="extra_large" [checked]="filters.sizes.includes('extra_large')"
                (change)="onSizeToggle($event)" />
            Extra Large
        </label>
    </div>

</div>