<div class="modal-header">
  <h4 class="modal-title">{{ product.productTitle }}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ product.imageUrl }}" alt="{{ product.productTitle }}">

    </div>
    <div class="col-md-6">
      <p>{{ product.description }}</p>
      <p><strong>Price: </strong>{{ product.price }}</p>
      <div class="form-group">
        <label for="sizeSelect">Size</label>
        <select id="sizeSelect" class="form-control" [(ngModel)]="selectedSize">
          <option value="" disabled selected>Select Size</option>
          <option value="SMALL">Small</option>
          <option value="LARGE">Large</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="colorSelect">Color</label>
        <select id="colorSelect" class="form-control" [(ngModel)]="selectedColor">
          <option value="" disabled selected>Select Color</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
</div>
