<div class="modal-header">
    <h4 *ngIf="!cat" class="modal-title">Add New Category</h4>
    <h4 *ngIf="cat" class="modal-title">Update Category</h4>
    <button class="btn btn-close bg-danger text-light" style="margin-right: 5px;" (click)="close()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="category-form">
        <div class="row justify-content-center">
            <!-- Category Title -->
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input placeholder="Enter Category Title" id="categoryTitle" formControlName="categoryTitle" type="text"
                        [ngClass]="{'is-invalid': categoryForm.get('categoryTitle')?.invalid && (categoryForm.get('categoryTitle')?.touched || categoryForm.get('categoryTitle')?.dirty)}"
                        class="form-control" />
                    <div *ngIf="formErrors['categoryTitle']" class="text-danger">
                        {{ formErrors['categoryTitle'] }}
                    </div>
                    <div *ngIf="errMsg" class="text-danger">
                        {{ errMsg }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Category Image -->
        <div class="row justify-content-center mt-2">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input id="image" type="file" (change)="onFileChange($event)" class="form-control-file" />
                    <div *ngIf="formErrors['image']" class="text-danger">
                        {{ formErrors['image'] }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <button *ngIf="!cat" type="submit" [disabled]="categoryForm.invalid" class="btn btn1 btn-primary w-100">Add Category</button>
                <button *ngIf="cat" type="submit" [disabled]="categoryForm.invalid" class="btn btn1 btn-primary w-100">Update Category</button>
            </div>
        </div>
    </form>
</div>