<div class="bg-primary custom-class">
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="text-center text-light" mat-dialog-title>{{data.name}}</h2>
    <form [formGroup]="setPwdForm">
        <div mat-dialog-content>
            <div>
                <input placeholder="Enter New Password" matInput type="password" formControlName="password">
                <div *ngIf="setPwdForm.get('password')?.hasError('required') && setPwdForm.get('password')?.touched"
                    class="err-msg">
                    Password is required
                </div>
                <div *ngIf="setPwdForm.get('password')?.hasError('pattern') && setPwdForm.get('password')?.touched"
                    class="err-msg">
                    Password must contain at least one digit, one lowercase, and one uppercase letter, and be at
                    least 8
                    characters long
                </div>
            </div>
            <div>
                <input placeholder="Enter Confirm Password" matInput type="password" formControlName="confirmPassword"
                    [ngClass]="{
                    'margin-top-40': !setPwdForm.get('password')?.touched || !setPwdForm.get('password')?.errors,
                    'margin-top-0': setPwdForm.get('password')?.touched && setPwdForm.get('password')?.errors
                  }" (blur)="onConfirmPasswordBlur()" (focus)="onConfirmPasswordFocus()">
                <div *ngIf="setPwdForm.get('confirmPassword')?.hasError('required') && setPwdForm.get('confirmPassword')?.touched"
                    class="err-msg">
                    Confirm Password is required
                </div>
                <div *ngIf="!setPwdForm.get('confirmPassword')?.hasError('required') && confirmPasswordBlurred && setPwdForm.errors?.['mismatch']"
                    class="err-msg">
                    Passwords do not match
                </div>
            </div>
        </div>
        <div class="mybtn">
            <div></div>
            <button [ngClass]="{
                'margin-top-50': !setPwdForm.get('password')?.touched || !setPwdForm.get('password')?.errors && !setPwdForm.get('confirmPassword')?.errors,
                'margin-top-0': setPwdForm.get('password')?.touched && setPwdForm.get('password')?.errors
              }" class="btn btn-send" [disabled]="!setPwdForm.valid" (click)="onOkClick()">Set Password
            </button>
            <div></div>
        </div>
    </form>
</div>