.model-header {
  margin-top: 10vh;
  background-color: #007bff;
  padding: 5px;
}
.modal-title {
  font-size: 2rem; /* Responsive font size */
  padding: 5px; color: white; margin-left: 40%; margin-top: 10px
}
.custom-image-zoom .lib-ngx-image-zoom-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

img {
    width: 300px;
    height: 300px;
}

.custom-image-zoom .lib-ngx-image-zoom-container .zoom-box {
  border: 2px solid #007bff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.error-message {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

@media (min-width: 992px) {
  .modal-body {
    padding: 20px; /* Adjust padding for smaller screens */
  }
  img {
      width: 300px;
      height: 300px;
  }
}
@media (  max-width: 992px) {
  .modal-body {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  img {
      width: 240px;
      height: 200px;
  }
}

@media (  max-width: 400px) {
  .modal-body {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  img {
      width: 240px;
      height: 240;
  }
  .modal-title {
    font-size: 2rem; /* Responsive font size */
    padding: 5px; color: white; margin-left: 10%; margin-top: 10px
  }
}
