<button class="close-button text-bg-danger p-1 text-white" [@buttonAnim]="isClosing ? 'leave' : 'enter'"
  (click)="close('')" aria-label="Close">
  X
</button>


<mat-dialog-content class="cart-dialog" [@dialogOpen]="isClosing ? 'leave' : 'enter'">
  <mat-divider></mat-divider>

  <!-- Body -->
  <div class="dialog-body" [@fadeSlide]>
    <!-- Image -->
    <div class="image-section" [@fadeSlide]>
      <img [src]="product.imageUrls[0]" [alt]="product.productTitle" />
      <button mat-fab color="primary" (click)="addToCart()" matTooltip="Add to Cart">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>

    <!-- Info -->
    <div class="info-section" [@fadeSlide]>
      <h2>{{ product.productTitle }}</h2>

      <!-- Price -->
      <div class="price">
        <span class="original">{{ product.price | currency }}</span>
        <span class="discount">{{ product.discountPrice | currency }}</span>
      </div>
      <!-- Size -->
      <mat-form-field appearance="outline" class="full-width compact-field" [@fadeSlide]>
        <mat-label>Size</mat-label>
        <mat-select [(ngModel)]="selectedSize" (selectionChange)="onSizeChange($event.value)">
          <mat-option *ngFor="let size of availableSizes" [value]="size">
            {{ size | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="submitted && !selectedSize">Size is required</mat-error>

      <!-- Color -->
      <mat-form-field appearance="outline" class="full-width compact-field" [@fadeSlide]>
        <mat-label>Color</mat-label>
        <mat-select [(ngModel)]="selectedColor" [disabled]="!selectedSize || !availableColors.length"
          (selectionChange)="onColorChange()">
          <mat-option *ngFor="let color of availableColors" [value]="color">
            {{ color | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="submitted && !selectedColor">Color is required</mat-error>

      <!-- Quantity -->
      <mat-form-field appearance="outline" class="full-width compact-field" [@fadeSlide]>
        <mat-label>Quantity</mat-label>
        <input matInput type="number" [(ngModel)]="quantity" min="1" [max]="maxQuantity" />
      </mat-form-field>
      <mat-error *ngIf="submitted && quantity < 1">Quantity is required</mat-error>
      <mat-error *ngIf="selectedColor && selectedSize && quantity > maxQuantity">
        Only {{ maxQuantity }} items available
      </mat-error>

      <!-- Mobile Cart Button -->
      <div class="cart-btn-mobile" [@fadeSlide]>
        <button mat-fab color="primary" (click)="addToCart()" matTooltip="Add to Cart">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>