<div *ngIf="productItem && productItem != null" class="container">
    <div class="product-details">
        <div class="product-images">
            <img [src]="productItem.imageUrl" alt="Product Image">

            <div class="thumbnail-images">
                <!-- Display product variation images -->
                <ng-container *ngFor="let variation of productItem.productVariations">
                    <img [src]="variation.img" alt="Product Variation Thumbnail" *ngIf="variation.img" />
                </ng-container>
            </div>
        </div>
        <div class="product-info mt-2">
            <h1>{{ productItem.productTitle }}</h1>
            <ul class="product-features">
                <li>100% Quality</li>
                <li>Free Shipping</li>
                <li>Easy Returns</li>
                <li>12 Months Warranty</li>
                <li>EMI Starting from (On Credit Cards)</li>
                <li>Normal Delivery: 4-5 Days</li>
                <li>Express Delivery: 2-3 Days</li>
            </ul>
            <div class="product-price">
                <h5>Price</h5>
                <h1>&#8377; {{ productItem.price }}</h1>
            </div>
            <div class="product-availability">
                <h5>Available Colors and Sizes:</h5>
                <ul>
                    <li *ngFor="let color of getColorKeys(productItem.colorsAndSizes)">
                        {{ color | titlecase }}: 
                        <span *ngFor="let size of productItem.colorsAndSizes[color]; let last = last">
                            {{ size }}<span *ngIf="!last">, </span>
                        </span>
                    </li>
                    <!-- <ng-container *ngFor="let variation of productItem.productVariations">
                        <li>{{ variation.quantity }}</li>
                    </ng-container> -->
                </ul>
            </div>
            <div class="action-buttons">
                <button type="button" class="btn btn-outline-primary">ADD TO CART</button>
                <button type="button" class="btn btn-warning ml-3">BUY NOW</button>
            </div>
        </div>
    </div>
</div>


<div class="cont-notfound" [ngClass]="{'show-container': showNotFound}">
    <div class="product-details">
        <h1>Not Found This Product</h1>
    </div>
</div>