<div *ngIf="productItem" class="container">
    <div class="product-details">
        <div class="product-images">
            <img [src]="productItem?.imageUrl" alt="Product Image" />

            <div class="thumbnail-images">
                <ng-container *ngFor="let variation of productItem?.productVariations">
                    <img [src]="variation?.img" alt="Product Variation Thumbnail" *ngIf="variation?.img" />
                </ng-container>
            </div>
        </div>

        <div class="product-info mt-2">
            <h1>{{ productItem?.productTitle }}</h1>
            <ul class="product-features">
                <li>100% Quality</li>
                <li>Free Shipping</li>
                <li>Easy Returns</li>
                <li>12 Months Warranty</li>
                <li>EMI Starting from (On Credit Cards)</li>
                <li>Normal Delivery: 4-5 Days</li>
                <li>Express Delivery: 2-3 Days</li>
            </ul>

            <div class="product-price">
                <h5>Price</h5>
                <h1>&#8377; {{ productItem?.price }}</h1>
            </div>

            <div *ngIf="productItem.productVariations[0]?.color !== 'no_color'" class="product-availability">
                <h5>Available Variations by Size:</h5>
                <ul>
                    <li *ngFor="let size of getGroupedVariationsBySize() | keyvalue">
                        <strong>Size: {{ size.key | titlecase }}</strong>
                        <ul>
                            <li *ngFor="let variation of size.value">
                                Color: {{ variation.color | titlecase }}, Quantity: {{ variation.quantity }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="action-buttons">
                <div style="position: relative; left: 150px;">
                    <div *ngIf="submitted && quantity <= 0" class="err-q text-danger">
                        Quantity must be greater than 0.</div>
                    <div *ngIf="submitted && !validateQuantity2()" class="err-q text-danger mt-1">
                        Quantity exceeds available stock ({{ maxQuantity }} available).
                    </div>
                    <div class="form-group quantity-row mt-1" style="position: absolute; bottom: 60px; right: 15px;"
                        *ngIf="productItem.productVariations[0]?.color === 'no_color'">
                        <label for="quantity" class="quantity-label">Qty:</label>
                        <input value="0" class="form-control quantity-input" type="number" id="quantity"
                            [(ngModel)]="quantity" min="1" [max]="maxQuantity" />
                    </div>
                </div>
    
                <button *ngIf="productItem.productVariations[0]?.color !== 'no_color'" type="button"
                    [disabled]="!hasAvailableVariations()" (click)="open(productItem)" class="btn btn-outline-primary">
                    ADD TO CART
                </button>
                <button class="btn btn-outline-primary" *ngIf="productItem.productVariations[0]?.color === 'no_color'"
                    (click)="open2(productItem)" [disabled]="!productItem.inStock">Add to Cart</button>
                <button type="button" class="btn btn-warning ml-3">BUY NOW</button>
            </div>

        </div>
    </div>
</div>

<div class="cont-notfound" [ngClass]="{'show-container': showNotFound}">
    <div class="product-details">
        <h1>Not Found This Product</h1>
    </div>
</div>