<!-- users-details.component.html -->
<div class="container mt-2">
    <div *ngIf="user" class="card">
        <div class="card-header">
            <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="user.imageUrl" class="img-fluid rounded" alt="User Image">
                </div>
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Email:</strong> {{ user.email }}
                        </li>
                        <li class="list-group-item">
                            <strong>Phone:</strong> {{ user.phone || 'N/A' }}
                        </li>
                        <li class="list-group-item">
                            <strong>Role:</strong> {{ user.role }}
                        </li>
                        <li class="list-group-item">
                            <strong>Email Verified:</strong> {{ user.emailVerified }}
                        </li>
                        <li class="list-group-item">
                            <strong>Gender:</strong> {{ user.gender }}
                        </li>
                        <li class="list-group-item">
                            <strong>User ID:</strong> {{ user.userId }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-4">
                <h4>Credentials</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Account Non Expired:</strong> {{ user.credential.accountNonExpired }}
                    </li>
                    <li class="list-group-item">
                        <strong>Account Non Locked:</strong> {{ user.credential.accountNonLocked }}
                    </li>
                    <li class="list-group-item">
                        <strong>Credentials Non Expired:</strong> {{ user.credential.credentialsNonExpired }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>