<div class="product" style="position: relative;">
  <div class="image-container" style="position: relative;">
    <img style="cursor: pointer;" [src]="product.imageUrls[0]" (click)="redirectToDetails(product.productId)"
      [alt]="product.productTitle">
    <div class="discount-badge" *ngIf="product.discountPercent">
      {{ product.discountPercent }}% OFF
    </div>
    <div class="stock-status" [ngClass]="{'in-stock': product.inStock, 'out-of-stock': !product.inStock}">
      {{ product.inStock ? 'In Stock' : 'Out of Stock' }}
    </div>
  </div>
  <h2 style="cursor: pointer;" (click)="redirectToDetails(product.productId)" class="product-title text-start m-2">
    {{ product.productTitle }}
  </h2>
  <div *ngIf="submitted && quantity <= 0" class="err-q text-danger">
    Quantity must be greater than 0.</div>
  <div *ngIf="submitted && !validateQuantity2()" class="err-q text-danger mt-1">
    available stock ({{ maxQuantity }})
  </div>
  <div class="form-group quantity-row mt-1" style="position: absolute; bottom: 70px; right: 15px;"
    *ngIf="product.productVariations[0]?.color === 'no_color'">
    <label for="quantity" class="quantity-label">Qty:</label>
    <input value="0" class="form-control quantity-input" type="number" id="quantity" [(ngModel)]="quantity" min="1"
      [max]="maxQuantity" />
  </div>
  <div class="product-info">
    <p *ngIf="product.discountPercent==0">{{ product.price | currency }}</p>
    <div *ngIf="product.discountPercent!=0" class="price-info">
      <p class="original-price">
        {{ product.price | currency }}
      </p>
      <p class="discounted-price">
        {{ product.discountPrice | currency }}
      </p>
    </div>
    <button *ngIf="product.productVariations[0]?.color !== 'no_color'" class="btn-add" (click)="open(product)"
      [disabled]="!product.inStock">Add to Cart</button>
    <button *ngIf="product.productVariations[0]?.color === 'no_color'" class="btn-add" (click)="open2(product)"
      [disabled]="!product.inStock">Add to Cart</button>
  </div>
</div>