<div class="product">
  <img style="cursor: pointer;" [src]="product.imageUrl" (click)="redirectToDetails(product.productId)"
    [alt]="product.productTitle">
  <h2 style="cursor: pointer;" (click)="redirectToDetails(product.productId)" class="text-start m-2">{{
    product.productTitle }}</h2>
  <div class="product-info">
    <p>{{ product.price | currency }}</p>
    <button (click)="open(product)">Add to Cart</button>
  </div>
</div>

<div *ngIf="toastService.toast" class="toast-container">
  {{ toastService.toast }}
  <!-- <button class="exit-toast" (click)="removeToast()">X</button> -->
</div>