.gradient-custom-2 {
    background: #fbc2eb;
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  }
  
  .card {
    border-radius: 15px;
  }
  
  .card img {
    transition: transform 0.3s ease;
  }
  
  .card img:hover {
    transform: scale(1.1);
  }
  
  .card-body img {
    border-radius: 15px;
  }
  
  .card-body .col {
    padding: 0 15px;
  }
  
  @media (max-width: 991.98px) {
    .card {
      margin-top: 30px;
    }
    .offset-lg-1 {
      margin-left: 0;
    }
  }
  
  .btn-outline-dark:hover, .btn-outline-dark:focus {
    background-color: #000;
    color: #fff;
  }
  
  .btn-primary {
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  