footer {
    /* background-color: #343a40; */
    background-color: #232F3E;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 1000; /* Ensure the footer is above other content */
}

.footer-content {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.footer-content a {
    color: #ffffff;
    text-decoration: none;
}
.footer-content a:hover {
    text-decoration: underline;
}
.footer-links {
    margin-top: 5px;
}   
.footer-links a {
    margin: 0 10px;
}
.footer-links a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .footer-content {
        font-size: 11px;
    }
    .footer-links a {
        margin: 0 5px;
    }
    footer {
        font-size: 11px;
        position: relative;
    }
}   