
  <div class="modal-header">
    <h4 class="modal-title">Add New Product</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <!-- Product Title -->
            <label>Product Title:</label>
            <input type="text" formControlName="productTitle" />
          
            <!-- Quantity -->
            <label>Quantity:</label>
            <input type="number" formControlName="quantity" />
          
            <!-- Size -->
            <label>Size:</label>
            <input type="text" formControlName="size" />
          
            <!-- Color -->
            <label>Color:</label>
            <input type="text" formControlName="color" />
          
            <!-- Price -->
            <label>Price:</label>
            <input type="number" formControlName="price" />
          
            <!-- SubCategory ID -->
            <label>SubCategory ID:</label>
            <!-- <input type="text" formControlName="subCategoryId" /> -->
            <select formControlName="subCategoryId">
                <option value="" disabled selected>Select Category</option>
                <option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
                  {{ subCategory.name }}
                </option>
              </select>
              
            <!-- File Input for Image -->
            <label>Product Image:</label>
            <input type="file" (change)="onFileSelected($event)" />
          
            <button type="submit">Add Product</button>
          </form>
          
    </div>
  </div>

  