.toast-container {
    position: fixed;
    top: 12%;
    right: 1%;
    z-index: 9999;
    color: white;
    background-color: rgb(61, 106, 29);
    opacity: 1;
    padding: 15px;
  }
  .toast-err {
    position: fixed;
    top: 10.5%;
    right: .3%;
    z-index: 9999;
    color: white;
    background-color: rgb(202, 23, 11);
    opacity: 1;
    padding: 15px;
  }

  .toast-warn {
    position: fixed;
    top: 10.5%;
    right: .3%;
    z-index: 9999;
    color: white;
    background-color: rgb(187, 117, 13);
    opacity: 1;
    padding: 15px;
  }
  
  
  .exit-toast {
    background-color: red;
    position: relative;
    padding: 5px 10px;
    top: -20px;
    right: -20px;
  }

    /* Responsive Adjustments */
    @media (max-width: 992px) {
      .toast-container {
        position: fixed;
        top: 13%;
        right: 1%;
        z-index: 9999;
        color: white;
        background-color: rgb(61, 106, 29);
        opacity: 1;
        padding: 15px;
      }
      .toast-err {
        position: fixed;
        top: 13.5%;
        right: .3%;
        z-index: 9999;
        color: white;
        background-color: rgb(202, 23, 11);
        opacity: 1;
        padding: 15px;
      }
    
      .toast-warn {
        position: fixed;
        top: 13.5%;
        right: .3%;
        z-index: 9999;
        color: white;
        background-color: rgb(187, 117, 13);
        opacity: 1;
        padding: 15px;
      }
      
      
      .exit-toast {
        background-color: red;
        position: relative;
        padding: 5px 10px;
        top: -20px;
        right: -20px;
      }
    }
    
    @media (max-width: 480px) {
      .toggle-btn {
        padding: 8px 12px;
        font-size: 14px;
      }
    }
    