<app-header class="header"></app-header>
<router-outlet class="content"></router-outlet>
<app-footer class="footer"></app-footer>
<div *ngIf="toastService.toastMessages.length > 0" class="toast-container">
  <div *ngFor="let messageObj of toastService.toastMessages" class="toast-message"
    [ngStyle]="{'background-color': toastService.getMessageColor(messageObj.type)}">
    {{ messageObj.message }}
    <button class="exit-toast" (click)="toastService.remove(messageObj.message, messageObj.type)">X</button>
  </div>
</div>

<!-- <button (click)="notify()">
  Show Notification
</button> -->