<div *ngIf="auth()">
    <h1 class="text-center my-2">Manage SubCategories</h1>
    <div class="container">
        <div class="table-responsive">
            <a class="btn btn-primary mb-3" (click)="open()"><i class="fa fa-plus"></i> Add New SubCategory</a>
            <table *ngIf="subCategories.length > 0; else noUsers" class="main-table table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#ID</th>
                        <th>SubCategory Name</th>
                        <th>Image</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of subCategories">
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td><img [width]="100" [src]="category.img"></td>
                        <td>
                            <a class="btn btn-success btn-sm mr-1" style="margin-right: 10px;" (click)="update(category)"><i class="fa fa-edit"></i>
                                Edit</a>
                            <a class="btn btn-danger btn-sm confirm" (click)="deleteCategory(category.id)"><i
                                    class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noUsers>
                <p>No Categories found.</p>
            </ng-template>
        </div>
    </div>
</div>
