<nav class="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/users" routerLinkActive="active">
                Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/products" routerLinkActive="active">
                Products
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/categories" routerLinkActive="active">
                Category
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/subcategories" routerLinkActive="active">
                Subcategory
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/orders" routerLinkActive="active">
                Orders
            </a>
        </li>
    </ul>
    <div *ngIf="getPageTitle() == 'Products'" class="filters">
        <div class="availability">
            <h3 style="margin: 5px 0;">Availability</h3>
            <label>
                <input type="checkbox" [(ngModel)]="filters.inStock" (change)="onFilterChange()"> In Stock
            </label>
            <label>
                <input type="checkbox" [(ngModel)]="filters.notAvailable" (change)="onFilterChange()"> Not Available
            </label>
        </div>

        <div class="price-range mb-3 mt-5">
            <span class="range" style="color: red; font-weight: bold; width: 100px; font-size: 12px;">Price Range:
            </span>
            <div style="display: flex; align-items: center;">
                <input type="number" class="form-control" [(ngModel)]="filters.minPrice" min="0" max="25000" step="10"
                    placeholder="Min">
                <input type="number" class="form-control" [(ngModel)]="filters.maxPrice" min="0" max="25000" step="10"
                    placeholder="Max">
                <input class="btn btn-warning text-light" style="border-radius: 10px; padding: 3px 8px;" type="submit"
                    (click)="onPriceRangeChange()" value="Go">
            </div>
            <app-custom-range-slider style="width: 400px;" [min]="0" [max]="25000" [step]="10"
                [(minValue)]="filters.minPrice" [(maxValue)]="filters.maxPrice">
            </app-custom-range-slider>
            <p>Range: $0 - $25000</p>
        </div>
        <div class="color-filter">
            <h3 style="margin: 0 5px;">Color</h3>
            <div class="color-options">
                <label *ngFor="let color of colorOptions" class="color-swatch">
                    <input type="checkbox" [checked]="filters.colors.includes(color)"
                        (change)="onColorChange(color, $event)">
                    <div class="color-indicator" [ngStyle]="{'background': color}">
                    </div>
                </label>
            </div>
        </div>
        <div class="size-filter">
            <h3 style="margin: 5px 0 5px;">Size</h3>
            <label><input type="checkbox" [checked]="filters.sizes.includes('small')"
                    (change)="onSizeChange('small', $event)"> Small</label>
            <label><input type="checkbox" [checked]="filters.sizes.includes('medium')"
                    (change)="onSizeChange('medium', $event)"> Medium</label>
            <label><input type="checkbox" [checked]="filters.sizes.includes('large')"
                    (change)="onSizeChange('large', $event)"> Large</label>
            <label><input type="checkbox" [checked]="filters.sizes.includes('EXTRA_LARGE')"
                    (change)="onSizeChange('EXTRA_LARGE', $event)"> Extra Large</label>
        </div>
    </div>

    <!-- <div *ngIf="getPageTitle() == 'Users'" class="filters">
        <div class="availability">
            <h3 style="margin: 5px 0;">Availability</h3>
            <label>
                <input type="checkbox" [(ngModel)]="filters.inStock" (change)="onFilterChange()"> In Stock <span
                    *ngIf="inStockCount">({{inStockCount}})</span>
            </label>
            <label>
                <input type="checkbox" [(ngModel)]="filters.notAvailable" (change)="onFilterChange()"> Not Available
                <span *ngIf="outOfStockCount">({{outOfStockCount}})</span>
            </label>
        </div>
        <div class="price-range mb-3 mt-5">
            <span class="range" style="color: red; font-weight: bold; width: 100px; font-size: 12px;">Price Range:
            </span>
            <div style="display: flex; align-items: center;">
                <input type="number" class="form-control" [(ngModel)]="filters.minPrice" min="0" max="25000" step="10"
                    placeholder="Min">
                <input type="number" class="form-control" [(ngModel)]="filters.maxPrice" min="0" max="25000" step="10"
                    placeholder="Max">
                <input class="btn btn-warning text-light" style="border-radius: 10px; padding: 3px 8px;" type="submit"
                    (click)="onPriceRangeChange()" value="Go">
            </div>
            <app-custom-range-slider style="width: 400px;" [min]="0" [max]="25000" [step]="10"
                [(minValue)]="filters.minPrice" [(maxValue)]="filters.maxPrice">
            </app-custom-range-slider>
            <p>Range: $0 - $25000</p>
        </div>
        <div class="color-filter">
            <h3 style="margin: 0 5px;">Color</h3>
            <div class="color-options">
                <label *ngFor="let color of colorOptions" class="color-swatch">
                    <input type="checkbox" [checked]="filters.colors.includes(color)"
                        (change)="onColorChange(color, $event)">
                    <div class="color-indicator" [ngStyle]="{'background': color}">
                    </div>
                </label>
            </div>
        </div>
        <div class="size-filter">
            <h3 style="margin: 5px 0 5px;">Size</h3>
            <label><input type="checkbox" [checked]="filters.sizes.includes('small')"
                    (change)="onSizeChange('small', $event)"> Small</label>
            <label><input type="checkbox" [checked]="filters.sizes.includes('medium')"
                    (change)="onSizeChange('medium', $event)"> Medium</label>
            <label><input type="checkbox" [checked]="filters.sizes.includes('large')"
                    (change)="onSizeChange('large', $event)"> Large</label>
            <label><input type="checkbox" [checked]="filters.sizes.includes('EXTRA_LARGE')"
                    (change)="onSizeChange('EXTRA_LARGE', $event)"> Extra Large</label>
        </div>
    </div> -->
</nav>