.container {
  margin-top: 15px;
}
.card img {
  transition: transform 0.3s ease;
  width: 150px; /* Set fixed width */
  height: 150px; /* Set fixed height */
  object-fit: cover; /* Ensure the image covers the entire area */
}

.card img:hover {
  transform: scale(1.1);
}

.card-body img {
  cursor: pointer;
  border-radius: 15px;
  width: 150px; /* Set fixed width */
  height: 150px; /* Set fixed height */
  object-fit: cover; /* Ensure the image covers the entire area */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-image-btn {
  position: absolute;
  bottom: 40px;
  width: 120px;
  height: 30px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.image-container:hover .change-image-btn {
  visibility: visible;
}


@media (max-width: 991.98px) {
  * {
    font-size: 12px;
  }
  .card {
    margin-top: 5px;
  }
  .offset-lg-1 {
    margin-left: 0;
  }
}

.btn-outline-dark:hover, .btn-outline-dark:focus {
  background-color: #000;
  color: #fff;
}

.btn-primary {
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
