<div class="modal-header">
  <h2 class="modal-title" style="margin-top: 10px;">Add New Product</h2>
  <button class="btn btn-close bg-danger text-light" style="margin-right: 5px;" (click)="onClose()"></button>
</div>
<div class="modal-body">
  <div class="row">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Product Title -->
        <div class="col-md-6">
          <label>Product Title:</label>
          <input type="text" placeholder="Enter Product Title" formControlName="productTitle" />
          <div class="error-message"
            *ngIf="productForm.get('productTitle').invalid && (productForm.get('productTitle').dirty || productForm.get('productTitle').touched)">
            <small class="text-danger" *ngIf="productForm.get('productTitle').errors.required">Product Title is
              required.</small>
          </div>
        </div>

        <!-- Quantity -->
        <div class="col-md-6">
          <label>Quantity:</label>
          <input type="number" placeholder="Enter Product Quantity" formControlName="quantity" />
          <div class="error-message"
            *ngIf="productForm.get('quantity').invalid && (productForm.get('quantity').dirty || productForm.get('quantity').touched)">
            <small class="text-danger" *ngIf="productForm.get('quantity').errors.required">Quantity is required.</small>
            <small class="text-danger" *ngIf="productForm.get('quantity').errors.greaterThanZero">Quantity Must more
              than 1
              required.</small>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Size -->
        <div class="col-md-6">
          <label>Size:</label>
          <select class="form-control" id="size" formControlName="size">
            <option value="" disabled selected>Select Size</option>
            <option value="NO_SIZE">No Size</option>
            <option value="SMALL">Small</option>
            <option value="MEDIUM">Medium</option>
            <option value="LARGE">Large</option>
            <option value="EXTRA_LARGE">Extra Large</option>
          </select>
          <div class="error-message"
            *ngIf="productForm.get('size').invalid && (productForm.get('size').dirty || productForm.get('size').touched)">
            <small class="text-danger" *ngIf="productForm.get('size').errors.required">Size is required.</small>
          </div>
        </div>

        <!-- Color -->
        <div class="col-md-6">
          <label>Color:</label>
          <select class="form-control" id="color" formControlName="color">
            <option value="" disabled selected>Select Color</option>
            <option value="no_color">No Color</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
          </select>
          <div class="error-message"
            *ngIf="productForm.get('color').invalid && (productForm.get('color').dirty || productForm.get('color').touched)">
            <small class="text-danger" *ngIf="productForm.get('color').errors.required">Color is required.</small>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Price -->
        <div class="col-md-6">
          <label>Price:</label>
          <input type="number" placeholder="Enter Product Price" formControlName="price" />
          <div class="error-message"
            *ngIf="productForm.get('price').invalid && (productForm.get('price').dirty || productForm.get('price').touched)">
            <small class="text-danger" *ngIf="productForm.get('price').errors.required">Price is required.</small>
            <small class="text-danger" *ngIf="productForm.get('price').errors.greaterThanZero">Price Must more than 1
              required.</small>
          </div>
        </div>

        <!-- Price -->
        <div class="col-md-6">
          <label>Discount Percent %:</label>
          <input type="number" placeholder="Enter Discount Percent" formControlName="discountPercent" />
          <div class="error-message"
            *ngIf="productForm.get('discountPercent').invalid && (productForm.get('discountPercent').dirty || productForm.get('discountPercent').touched)">
            <small class="text-danger" *ngIf="productForm.get('discountPercent').errors.required">Discount
              Percent is
              required.</small>
            <small class="text-danger" *ngIf="productForm.get('discountPercent').errors.zeroOrMore">Discount
              Percent Must More or Equal 0
              required.</small>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Category ID -->
        <div class="col-md-6">
          <label>Category:</label>
          <select class="form-control" id="categoryId" formControlName="categoryId" (change)="onCategoryChange($event)">
            <option value="0" disabled selected>Select Category</option>
            <option *ngFor="let category of categories" [value]="category.categoryId">
              {{ category.categoryTitle }}
            </option>
          </select>
          <div class="error-message"
            *ngIf="productForm.get('categoryId').invalid && (productForm.get('categoryId').dirty || productForm.get('categoryId').touched)">
            <small class="text-danger" *ngIf="productForm.get('categoryId').errors.required">Category is
              required.</small>
            <small class="text-danger" *ngIf="productForm.get('categoryId').errors.greaterThanZero">Category must be
              Selected.</small>
          </div>
        </div>

        <!-- SubCategory ID -->
        <div class="col-md-6">
          <label>SubCategory:</label>
          <select class="form-control" id="subCategoryId" formControlName="subCategoryId"
            [disabled]="filteredSubCategories.length === 0">
            <option value="0" disabled selected>Select SubCategory</option>
            <option *ngFor="let subCategory of filteredSubCategories" [value]="subCategory.id">
              {{ subCategory.name }}
            </option>
          </select>
          <div class="error-message"
            *ngIf="productForm.get('subCategoryId').invalid && (productForm.get('subCategoryId').dirty || productForm.get('subCategoryId').touched)">
            <small class="text-danger" *ngIf="productForm.get('subCategoryId').errors.required">SubCategory is
              required.</small>
            <small class="text-danger" *ngIf="productForm.get('subCategoryId').errors.greaterThanZero">SubCategory must
              be Selected.</small>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label for="images">Product Images (5–10 images)</label>

          <input type="file" id="images" class="form-control" multiple (change)="onFilesSelected($event)" />

          <!-- Validation -->
          <div *ngIf="fileTouched && selectedFiles.length === 0" class="text-danger mt-1">
            Please upload at least 5 images.
          </div>

          <div *ngIf="selectedFiles.length > 0 && (selectedFiles.length < 5 || selectedFiles.length > 10)"
            class="text-danger mt-1">
            You must upload between 5 and 10 images. You selected {{ selectedFiles.length }}.
          </div>

          <!-- PREVIEW -->
          <div class="mt-3 d-flex flex-wrap">
            <div *ngFor="let preview of imagePreviews" class="me-2 mb-2"
              style="width: 90px; height: 90px; border: 1px solid #ccc; padding: 3px;">
              <img [src]="preview" style="width: 100%; height: 100%; object-fit: cover;" />
            </div>
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
  </div>
</div>