<div class="bg-primary custom-class">
  <h2 class="bg-primary text-center text-light" mat-dialog-title>{{data.name}}</h2>
  <form [formGroup]="changePwdForm">
    <div mat-dialog-content>
      <div>
        <input placeholder="Enter Code" matInput formControlName="code">
        <div *ngIf="changePwdForm.get('code')?.hasError('required') && changePwdForm.get('code')?.touched" class="err-msg">
          Code is required
        </div>
      </div>
      <div>
        <input placeholder="Enter New Password" matInput type="password" formControlName="password">
        <div *ngIf="changePwdForm.get('password')?.hasError('required') && changePwdForm.get('password')?.touched" class="err-msg">
          Password is required
        </div>
        <div *ngIf="changePwdForm.get('password')?.hasError('pattern') && changePwdForm.get('password')?.touched" class="err-msg">
          Password must contain at least one digit, one lowercase, and one uppercase letter, and be at least 8 characters long
        </div>
      </div>
      <div>
        <input placeholder="Enter Confirm Password" matInput type="password" formControlName="confirmPassword"
               (blur)="onConfirmPasswordBlur()" (focus)="onConfirmPasswordFocus()">
        <div *ngIf="changePwdForm.get('confirmPassword')?.hasError('required') && changePwdForm.get('confirmPassword')?.touched" class="err-msg">
          Confirm Password is required
        </div>
        <div *ngIf="!changePwdForm.get('confirmPassword')?.hasError('required') && confirmPasswordBlurred && changePwdForm.errors?.['mismatch']" class="err-msg">
          Passwords do not match
        </div>
      </div>
    </div>
    <p class="text-center bg-danger-subtle err-msg">{{ responseMessage }}</p>
    <div class="mybtn">
      <div></div>
      <button class="btn btn-cancel" (click)="onNoClick()">Cancel</button>
      <button class="btn btn-send" (click)="onOkClick()">Change Password</button>
      <div></div>
    </div>
  </form>
</div>
