/* In your component's CSS file (e.g., modal-change-pwd.component.css) */
.btn-cancel {
  background-color: #dc3545; /* Red background color */
  color: white; /* White text color */
}

.btn-send {
  background-color: #28a745; /* Green background color */
  color: white; /* White text color */
}

.mybtn {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  margin-bottom: 15px;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.custom-dialog-container {
  position: absolute;
  top: -500px;
  margin: 100px auto;
  z-index: 100;
}



::ng-deep .custom-dialog-container {
  position: absolute;
  top: 200px;
  margin: -400px auto;
  z-index: 100;
}
.err-msg {
  background-color: #dc3545;
  color: white;
  padding: 5px;
}

.success-msg {
  background-color: #10a140;
  color: white;
  padding: 10px;
}



.toast-container {
  position: fixed;
  top: 20%;
  right: 50%;
  z-index: 9999;
  color: white;
  background-color: black;
  padding: 20px;
}

.exit-toast {
  background-color: red;
  position: relative;
  padding: 5px 10px;
  top: -20px;
  right: -20px;
}
