<div *ngIf="orders && orders.length > 0; else noOrders">
    <div class="order-container">
        <div *ngFor="let order of orders" class="order-card">

            <!-- Order Header -->
            <div class="order-header">
                <h2>Order #{{ order.id }}</h2>
                <p>
                    Status:
                    <span class="status" [ngClass]="order.status.toLowerCase()">
                        {{ order.status }}
                    </span>
                </p>
                <p>Order Date: {{ order.orderDate | date: 'short' }}</p>
                <p>Delivery Date: {{ order.deliveryDate | date: 'short' }}</p>
            </div>

            <hr>

            <!-- Shipping Info -->
            <div class="shipping-address">
                <h3>Shipping Address</h3>
                <p>{{ order.shippingAddress.street }}, {{ order.shippingAddress.city }}, {{
                    order.shippingAddress.country }}</p>
                <p>Shipping Price: $20</p>
                <p>Total Price: ${{ order.totalPrice }}</p>
            </div>

            <hr>

            <!-- Order Items -->
            <h3 class="text-danger">Order Items ({{ order.orderItems.length }})</h3>
            <div class="order-items">
                <div *ngFor="let item of order.orderItems" class="order-item">

                    <div class="row">
                        <img [src]="item.img" alt="{{ item.productName }}" class="col-8 product-img" />
                        <div class="offset-1 col-3 item-info">
                            <p class="product-name">{{ item.productName }}</p>
                            <p>Price: ${{ item.price }}</p>
                            <p>Discount: {{ item.discount }} %</p>
                            <p>Total Price: ${{ getItemTotal(item) }}</p>
                        </div>
                    </div>


                    <div class="item-details">
                        <!-- Variations horizontal scroll -->
                        <div class="variation-scroll">
                            <div *ngFor="let variation of item.productVariations" class="variation-card">
                                <p><strong>{{ variation.color }}</strong></p>
                                <p>Size: {{ variation.size }}</p>
                                <p>Qty: {{ variation.quantity }}</p>
                                <p>Total: ${{ item.totalPrice * variation.quantity }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noOrders>
    <div class="cont-empty">
        <p>No orders found.</p>
    </div>
</ng-template>