.order-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto the next line as needed */
}

.order-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 12px; /* Space out the cards */
  background-color: #fff;
  flex: 1 1 calc(30% - 24px); /* Grow to fill space, shrink if needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 348px; /* Prevent the card from getting too small */
  max-width: 348px; /* Set a maximum width if needed */
}

.order-items {
  margin-top: 16px;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.product-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 8px;
}

.item-details {
  flex: 1;
}

.shipping-address,
.item-details {
  margin-top: 16px;
}

.cont-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .order-card {
      flex: 1 1 calc(45% - 24px); /* Two cards per row */
  }
}

@media (max-width: 576px) {
  .order-card {
      flex: 1 1 100%; /* Stack cards on smaller screens */
      max-width: none; /* Remove max-width constraint */
  }
}