<!-- app.component.html or main layout file -->
<div class="layout" *ngIf="auth()">
    <app-sidebar *ngIf="!showStats"></app-sidebar>
    <div class="content">
        <div class="container home-stats text-center" *ngIf="showStats">
            <h1 class="text-center">Dashboard</h1>
            <div class="row">
                <div routerLink="users" class="col-md-3 col-xs-6">
                    <div class="stat st-me changeing">
                        <i class="fa fa-users"></i>
                        <div class="inf">Total Members</div>
                        <span><a routerLink="users">{{ userCount }}</a></span>
                    </div>
                </div>
                <div routerLink="categories" class="col-md-3 col-xs-6">
                    <div class="stat st-it changeing">
                        <i class="fa fa-tag"></i>
                        <div class="inf">Total Categories</div>
                        <span><a routerLink="categories">{{ catsCount }}</a></span>
                    </div>
                </div>
                <div routerLink="subcategories" class="col-md-3 col-xs-6">
                    <div class="stat st-it changeing">
                        <i class="fa fa-tag"></i>
                        <div class="inf">Total SubCategories</div>
                        <span><a routerLink="subcategories">{{ subCatsCount }}</a></span>
                    </div>
                </div>
                <div routerLink="products" class="col-md-3 col-xs-6">
                    <div class="stat st-co changeing">
                        <i class="fa fa-comment"></i>
                        <div class="inf">Total Products</div>
                        <span><a routerLink="products">{{ prodsCount }}</a></span>
                    </div>
                </div>
                <div routerLink="orders" class="col-md-3 col-xs-6">
                    <div class="stat st-it changeing">
                        <i class="fa fa-tag"></i>
                        <div class="inf">Total Orders</div>
                        <span><a routerLink="orders">{{ ordersCount }}</a></span>
                    </div>
                </div>
            </div>

        </div>
        <router-outlet *ngIf="!showStats"></router-outlet>
    </div>
</div>

<div *ngIf="auth() && showStats" class="container last-elements-container">
    <div class="header">
      <h2>Last 5 Elements</h2>
      <button (click)="toggleVisibility()" class="toggle-btn">
        {{ showLastElements ? 'Hide' : 'Show' }} Last 5
      </button>
    </div>
  
    <div *ngIf="showLastElements" class="last-elements-grid">
      <div class="last-element">
        <h3>Last 5 Users</h3>
        <ul>
          <li *ngFor="let user of totalUsers">
            <span>{{ user.username }}</span>
            <span class="date">{{ user.createdAt | date: 'short' }}</span>
          </li>
        </ul>
      </div>
  
      <div class="last-element">
        <h3>Last 5 Categories</h3>
        <ul>
          <li *ngFor="let category of categories">
            <span>{{ category.categoryTitle }}</span>
            <span class="date">{{ category.createdAt | date: 'short' }}</span>
          </li>
        </ul>
      </div>
  
      <div class="last-element">
        <h3>Last 5 Subcategories</h3>
        <ul>
          <li *ngFor="let subcategory of subCats">
            <span>{{ subcategory.name }}</span>
            <span class="date">{{ subcategory.createdAt | date: 'short' }}</span>
          </li>
        </ul>
      </div>
  
      <div class="last-element">
        <h3>Last 5 Products</h3>
        <ul>
          <li *ngFor="let product of products">
            <span>{{ product.productTitle }}</span>
            <span class="date">{{ product.createdAt | date: 'short' }}</span>
          </li>
        </ul>
      </div>
      <div class="last-element">
        <div class="header-row">
          <h3>Last 5 Orders</h3>
          <span class="header-info">Delivery Date</span>
        </div>
        <ul>
          <li *ngFor="let order of orders">
            <span>{{ order.id }}</span>
            <span class="date">{{ order.deliveryDate | date: 'short' }}</span>
          </li>
        </ul>
      </div>      
    </div>
  </div>
  