<!-- app.component.html or main layout file -->
<div class="layout" *ngIf="auth()">
    <app-sidebar *ngIf="!showStats"></app-sidebar>
    <div class="content">
        <div class="container home-stats text-center" *ngIf="showStats">
            <h1 class="text-center">Dashboard</h1>
            <div class="row">
                <div routerLink="users" class="col-md-3 col-xs-6">
                    <div class="stat st-me changeing">
                        <i class="fa fa-users"></i>
                        <div class="inf">Total Members</div>
                        <span><a routerLink="users">{{ userCount }}</a></span>
                    </div>
                </div>
                <div routerLink="categories" class="col-md-3 col-xs-6">
                    <div class="stat st-it changeing">
                        <i class="fa fa-tag"></i>
                        <div class="inf">Total Categories</div>
                        <span><a routerLink="categories">{{ catsCount }}</a></span>
                    </div>
                </div>
                <div routerLink="subcategories" class="col-md-3 col-xs-6">
                    <div class="stat st-it changeing">
                        <i class="fa fa-tag"></i>
                        <div class="inf">Total SubCategories</div>
                        <span><a routerLink="subcategories">{{ subCatsCount }}</a></span>
                    </div>
                </div>
                <div routerLink="products" class="col-md-3 col-xs-6">
                    <div class="stat st-co changeing">
                        <i class="fa fa-comment"></i>
                        <div class="inf">Total Products</div>
                        <span><a routerLink="products">{{ prodsCount }}</a></span>
                    </div>
                </div>
                <div routerLink="orders" class="col-md-3 col-xs-6">
                    <div class="stat st-it changeing">
                        <i class="fa fa-tag"></i>
                        <div class="inf">Total Orders</div>
                        <span><a routerLink="orders">10</a></span>
                    </div>
                </div>
            </div>

        </div>
        <router-outlet *ngIf="!showStats"></router-outlet>
    </div>
</div>