.custom-class {
    height: 530px;
  }
  .btn-send {
    background-color: #28a745; /* Green background color */
    color: white; /* White text color */
  }
  
  .mybtn {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  
  .close {
    position: absolute; /* Position relative to the parent container */
    top: 10px; /* Adjust to fit the top space */
    right: 10px; /* Adjust to fit the right space */
    opacity: 0.8;
    padding: 3px 15px;
    background-color: #eb2727;
    border: 1px solid red;
    color: white;
    font-size: 32px;
    cursor: pointer;
    z-index: 999;
  }
  
  .close:hover {
    opacity: 1;
  }
  .margin-top-50 {
    margin-top: 40px;
  }
  .margin-top-40 {
    margin-top: 25px;
  }
  .margin-top-0 {
    margin-top: 10;
  }
  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  .custom-dialog-container {
    position: absolute;
    top: -500px;
    margin: 100px auto;
    z-index: 100;
  }
  
  ::ng-deep .custom-dialog-container {
    position: absolute;
    top: 200px;
    margin: -400px auto;
    z-index: 100;
  }
  .err-msg {
    background-color: #dc3545;
    color: white;
    padding: 5px;
  }
  
  .toast-container {
    position: fixed;
    top: 20%;
    right: 50%;
    z-index: 9999;
    color: white;
    background-color: black;
    padding: 20px;
  }
  
  .exit-toast {
    background-color: red;
    position: relative;
    padding: 5px 10px;
    top: -20px;
    right: -20px;
  }
  
  form {
    height: 200px;
  }
  