
.cdk-global-overlay-wrapper {
  backdrop-filter: blur(50px);
  opacity: .5;
}

.dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.message {
  margin: 0;
  color: red;
}