<div *ngIf="auth()">
    <h1 class="text-center my-2">Manage Users</h1>
    <div class="container">
        <div class="table-responsive">
            <a class="btn btn-primary mb-3" (click)="open()"><i class="fa fa-plus"></i> Add New User</a>
            <table *ngIf="users.length > 0; else noUsers"
                class="main-table table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Email Verified</th>
                        <th>Registered Date</th>
                        <th>Role</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td data-label="ID">{{ user?.id || 'N/A' }}</td>
                        <td data-label="Username">{{ user?.username || 'N/A' }}</td>
                        <td data-label="Email">{{ user?.email || 'N/A' }}</td>
                        <td data-label="Verified">{{ user?.verify ? 'Yes' : 'No' }}</td>
                        <td data-label="Created">{{ user?.date || 'N/A' }}</td>
                        <td data-label="Role">{{ user?.role || 'N/A' }}</td>

                        <td>
                            <button class="btn btn-primary btn-sm mr-1" (click)="detailsUser(user.id)"
                                aria-label="View Details">
                                <i class="fa fa-circle-info"></i> Details
                            </button>
                            <button class="btn btn-success btn-sm mr-1" (click)="edit(user)" aria-label="Edit User">
                                <i class="fa fa-edit"></i> Edit
                            </button>
                            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)"
                                aria-label="Delete User">
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Pagination Component -->
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
    </app-pagination>

    <ng-template #noUsers>
        <div class="no-users">
            <p>No users found. Please add new members.</p>
        </div>
    </ng-template>
</div>
