.main-table th, .main-table td {
    vertical-align: middle;
}
.btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}
.table-responsive {
    margin-bottom: 1rem;
}


/* Responsive Table */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling */
    margin-bottom: 1rem;
}

/* Style the main table */
.main-table th, .main-table td {
    vertical-align: middle;
    white-space: nowrap; /* Prevent text wrapping */
    word-wrap: break-word;
}
@media (min-width: 1600px) and (max-width:2000px){
    .main-table th, .main-table td {
        font-size: 0.875rem; /* Smaller text */
        padding: 0.5rem; /* Smaller padding */
    }
    
    .btn-sm {
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
    }
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1500px;
    }
}

@media (min-width: 1400px) and (max-width:1600px) {
    .main-table th, .main-table td {
        font-size: 0.875rem; /* Smaller text */
        padding: 0.5rem; /* Smaller padding */
    }
    
    .btn-sm {
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
    }
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1240px;
    }
}

@media (min-width: 1200px) and (max-width:1400px) {
    .main-table th, .main-table td {
        font-size: 0.875rem; /* Smaller text */
        padding: 0.5rem; /* Smaller padding */
    }
    
    .btn-sm {
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
    }
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1024px;
    }
}

@media (min-width: 1024px) and (max-width:1200px) {
    .main-table th, .main-table td {
        font-size: 0.875rem; /* Smaller text */
        padding: 0.5rem; /* Smaller padding */
    }
    
    .btn-sm {
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
    }
    .container, .container-lg, .container-md, .container-sm {
        max-width: 850px;
    }
}
@media (min-width: 992px) and (max-width:1024px) {
    .main-table th, .main-table td {
        font-size: 0.875rem; /* Smaller text */
        padding: 0.5rem; /* Smaller padding */
    }
    
    .btn-sm {
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
    }
    .container, .container-lg, .container-md, .container-sm {
        max-width: 767px;
    }
}
/* Smaller screen adjustments */
@media (min-width: 768px) and (max-width: 992px) {
    .main-table th, .main-table td {
        font-size: 0.875rem; /* Smaller text */
        padding: 0.5rem; /* Smaller padding */
    }
    
    .btn-sm {
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
    }
    .container, .container-md, .container-sm {
        max-width: 565px;
    }
}

/* Toast container styles */
.toast-container {
    position: fixed;
    top: 14%;
    right: 1%;
    z-index: 9999;
    color: white;
    background-color: rgb(61, 106, 29);
    opacity: .8;
    padding: 15px;
}
